[2016-06-14 19:10] joshgarwood opened #1 "Camera plugin not working in ionic View app"
Hey guys!  I'm loving ionic-cloud thus far, but one issue that I ran into today was that the Camera plugin doesn't seem to work inside of the IonicView app. Though I feel like I may be doing something wrong...

[code]

Whenever I'm in the IonicView app the error handler gets executed and all I see is:  "There was an error: {}"

If I generate an actual apk and install that on my phone it works like

[2016-06-14 22:06] dwieeb commented on #1
Hiya! This issue doesn't seem to relate to the Ionic Cloud client. There's likely an issue with the Cordova plugin or Ionic View. Can you report your issue over at the [Ionic View issues](https://github.com/driftyco/ionic-view-issues/issues) with steps to reproduce the error?

[2016-06-14 22:06] #1 closed

[2016-06-15 21:23] Maistho opened #2 "Storing the user after authentication"
Ionic.Auth will store my authentication if I tell it to (remember == true), which seems to work fine.

The actual user is *not* stored unless I manually run `user.save()` afterwards.
If I reload the app without calling `user.save()` it leads to a scenario where `user.isAuthenticated()` returns true at the same time as `user.isAnonymous()`, which is a bit confusing.

[2016-06-16 13:29] ericb commented on #2
Ah okay. This is because we only currently save the user details on device when `save` is called, but we should be storing them after a successful authentication to avoid this scenario.

ping @dwieeb - Perhaps we could implement a local-only save which can be called upon successful authentication.

[2016-06-16 15:49] #2 closed

[2016-06-16 15:50] dwieeb commented on #2
The local save is already implemented. It just needed to be called upon successful login.

Thanks for the report, @Maistho!

[2016-06-17 01:27] dwieeb opened #3 "Angular 1/Ionic 1 Feedback"
I'm asking for feedback on the Angular 1/Ionic 1 support in the Ionic Cloud client, particularly the new config setup. Using this library is recommended for Ionic 1 projects, and will be the future of what once was the `ionic-platform-web-client`. For usage, see [the readme](https://github.com/driftyco/ionic-cloud) for now. Also see the [Migration Guide](https://github.com/driftyco/ionic-cloud/wik

[2016-06-17 01:39] dwieeb opened #4 "Use Angular 1 Promises"
Using angular 1 promises would aid in compatibility of the angular 1 integration. Wrapping the `$ionicSomething` factories in angular 1 promises would provide features such as the finally function and integration with angular change detection. This issue is to investigate how to do that.

Possibly use [`when`](https://docs.angularjs.org/api/ng/service/$q#when)?

Thanks @astik for the original issu

[2016-06-17 14:51] meticoeus commented on #4
One option for angular 1 projects would be to use the bluebird promise library. It exposes its scheduler which can then be tied to angular's digest cycle effciently.

The [angular-bluebird-promises](https://github.com/mattlewis92/angular-bluebird-promises) library takes care of the integration and replaces the $q service implementation with the bluebird implementation for you.

[2016-06-17 21:04] Maistho commented on #3
Converted my app to use the angular bindings, and all seems to be well.

Previously there was an `api_key` field in the config, which seems to have been removed. Does my app no longer need an API key in order to access Ionic Cloud?

:+1: Config works better when inside angular as a provider.
:+1: Pretty much the same interface with or without angular bindings
:+1: `Ionic Cloud` is a better name th

[2016-06-17 21:07] Maistho commented on #4
@meticoeus what is the advantage of using bluebird over the builtin $q?

Currently I wrap my promises with `$q.all([promise])`, but I'm not sure why... Will test with `$q.when(promise)` instead, since that seems to be the preferred way to do it.

[2016-06-17 22:39] dwieeb commented on #3
`api_key` was specifically for the alpha API, which is deprecated and being removed very soon (next Friday). It is no longer needed for our beta API, as most API calls use mobile user tokens through auth.

- The migration guide is coming! I am finalizing a few things.
- Manual copying is bad, yes. Installs and updates will need to do this. Unfortunately the alternative is to automatically do this

[2016-06-17 22:49] dwieeb commented on #4
I guess bluebird adds more features? We don't need the additional features and I'd rather not have another dependency included in our bundle. We should be able to make use of `$q` to wrap our promises.

[2016-06-17 23:09] Maistho commented on #3
Thanks for the response!

I think my CLI is recreating `.io-config.json` when I run certain commands. Guess I'll open an issue at the CLI for that :smiley:

Regarding the manual copying, I get the problem. I wouldn't want it to happen automatically either, since we use a custom build anyway.
I guess the best option is to inform the user that they will need to either update it manually whenever a n

[2016-06-17 23:29] meticoeus commented on #4
An option for a user of the library is to replace the global Promise from es6-promises (or native implementation) with bluebird promises. All uses of Promise in this and other libraries and your app code will be using a single implementation that can now inter-op with the digest cycle. You can then use the API directly instead of the wrapped versions, which may make sense in project that is being

[2016-06-17 23:36] dwieeb commented on #4
Oh, I see! That native implementation replacement and digest cycle hook-in is something I've been wondering about. An option would be to document how to set up that library in Ionic 1 projects. We can't depend on it because our client must work for angular 1, Angular 2, and non-angular projects.

I personally think wrapping the promises with angular's `$q` would be better because it's an api that

[2016-06-17 23:45] dwieeb commented on #3
@Maistho Well, the CLI team isn't _ready_ for that, yet. That's the problem. We're still trying to support other users who are not using your exact workflow. Like I said, it'll be a little rocky for people for a short while and then everything should be a lot better. 👍

Yes, we will be documenting the installing and updating of this library for Ionic 1 projects, for sure!

I'm happy to put some de

[2016-06-17 23:55] meticoeus commented on #4
The `$q` wrapper approach is probably the best way to go to keep things simple and familiar for ng1 devs.

Documenting that you can and how setup bluebird so that you can avoid the wrapper might be useful for anyone doing a 1->2 migration so they can use the library directly without the ng1 modules.

[2016-06-18 00:06] meticoeus commented on #4
For reference to anyone considering this strategy, there was already a [discussion](https://github.com/angular/angular.js/issues/6697) about making bluebird usable in angular 2 before they dropped $q for native promises.

The main take away is that $q is silent about uncaught promise rejections while bluebird is not. Some ng1 libraries like ui-router are guilty of this so your console will blow up

[2016-06-21 15:20] Manduro opened #5 "Push unregister fails in browser"
Calling unregister in a browser throws an error, whereas register just fails silently. A silent fail (maybe with a `console.log` saying the plugin is unavailable) is preferable, to support testing in a browser.

The iOS emulator fails with the same error, as it does not support push.

```Cannot read property 'token' of null at Push.unregister (push.js:168)```

[2016-06-21 18:25] #5 closed

[2016-06-21 18:26] dwieeb commented on #5
Thanks @Manduro. I've fixed the problem. `unregister` returns a promise, so it should never have failed in that manner.

[2016-06-22 16:04] eweap opened #6 "Handle a notification"
Hello, what is the best way to handle a notification with 'ionic-cloud' ? Before we used to pass a `onNotification` method during `$ionicPush.init()` but know that only `debug` and `pluginConfig` is available i don't know how to handle the incoming notifications.

Thanks

[2016-06-22 16:07] dwieeb commented on #6
A migration guide is forthcoming, but to answer your question, there is now an `$ionicEventEmitter` that you can subscribe to.

[code]

[2016-06-22 16:07] #6 closed

[2016-06-22 16:29] dwieeb commented on #3
Hey all. I decided to publicize my [Migration Guide](https://github.com/driftyco/ionic-cloud/wiki/Migration-Guide). Things may change as we go forward with the beta, so it's sort of a "living" migration guide. Fortunately, Github wikis are version controlled so you can see the changes I make in this repo corresponding to the new revisions in the Migration Guide.

[2016-06-23 07:25] eweap commented on #6
Thanks for your quick answer @dwieeb !

[2016-06-23 19:34] dwieeb opened #7 "Mock Cloud Services"
@astik says in https://github.com/driftyco/ionic-platform-web-client/issues/105:

This won't be tackled right away, but it's good to talk about. Most of the cloud client has been switched over to use dependency injection, which makes mocking actually possible now.

- Look into mocking angular 1 services with Angular 2 in mind.
- Everything should now be using the client, so it may be possible to d

[2016-06-24 01:38] astik commented on #7
Plan sounds good to me =)
(still, i have trouble to understand what is about ionic-cloud compare to ionic-platform-web-client, documentation still speaks about the latest)

[2016-06-24 04:07] dwieeb commented on #7
@astik `ionic-cloud` is the future of the `ionic-platform-web-client`, but it's still in beta. There will be some breaking changes. We're launching some documentation updates soon that will hopefully clear everything up.

[2016-06-27 04:51] dwieeb opened #8 "Dev Push"
@sagivf says in https://github.com/driftyco/ionic-cloud-angular/issues/2:

[2016-06-27 04:59] dwieeb commented on #8
Yes, `master` branch in this repo is the bleeding edge for the client. There are more changes, too. Have a look at the [Migration Guide](https://github.com/driftyco/ionic-cloud/wiki/Migration-Guide).

Anyway, I agree. You took the words "Browser Push" out of my mouth. That is something we're going to consider for sure, but instead of offering a "development" push option, we'd offer the browser as

[2016-06-27 04:59] #8 closed

[2016-06-28 17:41] sagivf commented on #8
Thanks @dwieeb makes perfect sense, hope to see it soon 👍

[2016-06-28 21:52] dwieeb opened #9 "User Password reset issues"
@sagivf says in https://github.com/driftyco/ionic-cloud-angular/issues/3:

[2016-06-28 21:57] dwieeb commented on #9
This method got shuffled around during my refactoring and is currently broken, yes. I didn't pay it any attention because we're actually going to be changing the password reset flow.

I think you're going to like the changes that are coming. We're waiting on some backend service changes but should have the new methods in the client before the full release of this new version.

@devnetics may be ab

[2016-06-29 06:27] sagivf opened #10 "User Authorization header not sent on refresh"
I am currently developing in the browser.
After login-in everything works fine and I am able to save user data.
[code]
But after I refresh the browser it fails - I get a 401. it seems like the **Authorization header** isn't being sent. I do see the token exists in the local storage.
Should I be taking some sort of action when the app starts?

[2016-06-29 07:14] sagivf opened #11 "Facebook login not working"
Couldn't get it to work at all in the browser.
In the ios emulator and my device after some debugging I have found that there seems to be an issue here -
https://github.com/driftyco/ionic-cloud/blob/master/src/auth.ts#L156
seems like using `this.client.post` instead of `this.client.request('POST')` opens the facebook page.

**but** event after hacking at it I get this when it opens -

![image](htt

[2016-06-29 07:21] sagivf commented on #9
@dwieeb Thanks for all you help.
@devnetics I know that this is a tough question, but is there any estimate on when things will settle, this issue isn't the most crucial issue but I have opened a couple of others that are -
https://github.com/driftyco/ionic-cloud/issues/11
https://github.com/driftyco/ionic-cloud/issues/10
? Are we talking weeks or months?

Thanks again for been so responsive.

[2016-06-29 08:06] devnetics commented on #9
@sagivf I think we will have the new reset password flows live within a couple of weeks at most.

You will be able to allow your users to submit a password reset request (with their email), and receive a link to change it. This will update the user credentials for that particular user for your specific app_id.

I'll try to post more details soon, this is currently being worked on.

[2016-06-29 08:15] sagivf commented on #9
Thanks @devnetics for the update. Sounds perfect 👍

[2016-06-29 15:15] jgw96 opened #12 "Not detecting Cordova using Ionic Deploy"
_From @Manduro on June 28, 2016 23:19_

Ionic Deploy requires `cordova.js` to be removed from `index.html`, as it gets added with the right path on start. This has always worked fine until recently.

Now, Ionic does not detect the app as being run in cordova anymore. Instead it is tagged as the `mobileweb` platform. This causes calls to cordova plugins to often fail, as the `platform.ready()` is l

[2016-06-29 15:15] jgw96 commented on #12
Hello! Thanks for opening an issue with us! Since this is an issue with the Ionic platform and not the framework i will be moving this issue to the appropriate repo. Thanks for using Ionic!

[2016-06-29 15:18] jgw96 commented on #12
Sorry did not mean to move this here.

[2016-06-29 15:19] jgw96 commented on #12
This issue was moved to driftyco/ionic-cloud-issues#130

[2016-06-29 15:48] dwieeb commented on #12
@Manduro says in https://github.com/driftyco/ionic-cloud-issues/issues/130#issuecomment-229394506

[2016-06-29 15:55] dwieeb commented on #12
I will see if I can reproduce this issue. Just had a chat with @adamdbradley about the potential problems with our current approach in Ionic Deploy and Ionic 2.

@jgw96 @Manduro: The CONTRIBUTING.md files in each repo explain the difference. https://github.com/driftyco/ionic-cloud-angular/blob/master/CONTRIBUTING.md#issues It's just going to be messy and I expect to be moving a lot of issues.

[2016-06-29 16:52] genox commented on #3
What about providing dist files via bower?

[2016-07-01 04:47] sagivf opened #13 "Changing user data"
I'm implementing a change details form for the apps users an a am a little confused.
Doing `this.user.save('name', 'new-name')` and then performing `this.user.save()` seems weird.
If this fails for any reason (validation, network), the user is now kept in the app in an incorrect from.
I don't really see the value in this, looks to me like the user  details should be changed only once the change is

[2016-07-01 05:14] dwieeb commented on #11
@sagivf Social and custom authentication require the [InAppBrowser](https://github.com/apache/cordova-plugin-inappbrowser) plugin to function, currently. We'd like to investigate alternatives to this. For now, I haven't had a chance to look into this (been busy writing docs!), but last time I checked, all types of authentication in the cloud client are functional.

[2016-07-01 05:18] dwieeb commented on #10
@sagivf I think your problem might be that you're not passing `{'remember': true}` to the login method. I am just about ready to release a new version that defaults this to be true.

[2016-07-01 05:22] sagivf commented on #10
@dwieeb I am passing it, i'll check again after you release.

[2016-07-01 05:25] sagivf commented on #11
@devnetics I have the InAppBrowser installed. When you can try it out, I hacked at it and it defiantly seems broken. If your positive it works i'll try out again from scratch.

[2016-07-01 05:35] dwieeb commented on #11
@sagivf Right, sorry, I didn't mean to imply you didn't have it installed (otherwise you wouldn't even see the facebook page). I more so meant it's a required Cordova plugin, so you need to test on a device or an emulator to test social authentication.

I'm not positive it works. I'll try this tomorrow and confirm.

The error you're getting [seems to be common](https://www.google.com/webhp?sourcei

[2016-07-01 05:39] dwieeb commented on #10
Oh, right, because you said you saw it in local storage.

Hmm, I'm not sure. I've never seen this behavior. You shouldn't need to do anything when the app starts. Once a user logs in, their token is stored indefinitely and it should be picked up by our client client if it exists.

Yeah, let's check with the new version when it comes out.

[2016-07-01 05:52] dwieeb commented on #12
See also https://github.com/driftyco/ionic-platform-web-client/issues/17

[2016-07-01 06:38] sagivf commented on #11
Thanks @dwieeb, I tried on the emulator and the device.
I'll check out https://github.com/driftyco/ionic-cloud/issues/10 but I think the first step is https://github.com/driftyco/ionic-cloud/blob/master/src/auth.ts#L156 seems like something there is faulty.

[2016-07-01 12:48] ericb commented on #13
`save` does not take any arguments, so I'm not sure I understand the examples you've given.

[2016-07-01 13:48] sagivf commented on #13
@ericb my bad - I changed it to `set`.
What I mean is I don't see what saving user data locally for a logged in user is good for.
What's the user case for this.
If the data isn't synced it's just cause for conflicts - what if there is an error while saving? Do I need to manually revert the changes?

Wouldn't an api of `user.save({ name: 'new name', favoriteColor: `blue`, email: 'me@me.com' }` make

[2016-07-01 13:56] sagivf commented on #13
Perhaps this was meant for a non logged in user, but I think I would leave something like that for the developers to implement and let the platform do atomic/synced changes to the user.

[2016-07-01 22:04] dwieeb commented on #11
There was an issue on that line, like you said. I just pushed a fix.

As for the other issue, from the look of it, Facebook just made this a hell of a lot more difficult for us to use their authentication. I was unable to get past the `Not Logged in. You are not logged in. Please log in and try again.` error as well. See http://stackoverflow.com/questions/31879804/you-are-not-logged-in-please-log-

[2016-07-01 22:40] dwieeb commented on #13
@sagivf I understand. I think that makes total sense. The user model would then _only_ be updated when a successful save takes place, so your app can be updated to reflect the true state of the user.

@ericb, thoughts? Let's talk next week.

[2016-07-01 22:51] dwieeb commented on #10
@sagivf New version is out. There were some changes since the last release, you can see them in [this diff](https://github.com/driftyco/ionic-cloud/wiki/Migration-Guide/_compare/871ca81e58518259a65f650651fe3326b182e040...2fa37d45d51d656d19a95a41cd82a13b4e89fa4e).

If you're still getting this error, I'm really not sure what the problem would be. Internally, the HTTP client takes a `TokenContext` (

[2016-07-03 12:13] cklanac commented on #9
I banged my head against the wall for a couple hours yesterday trying to figure this out. I'm going to go take some Advil 💊  for the headache and look forward to the update 👍

[2016-07-03 12:19] sagivf commented on #9
@cklanac Can you do me a bug favour and let me know if you are also having this issue - https://github.com/driftyco/ionic-cloud/issues/10. Would help me out a lot...

[2016-07-03 15:53] cklanac commented on #10
@sagivf I did a basic implementation on v0.0.12 and got the same error. FWIW, I couldn't implement the static methods on v0.0.14.

Here's the whole process
**Initial signup, just for reference...**
[code]

**Subsequent Login and Save works fine...**
Confirmed the Custom Data in the Ionic Platform dashboard
[code]

**Update custom data without re-logging in.**

[code]
**Console Errors**
[code]

[2016-07-03 16:09] sagivf commented on #10
Thanks @cklanac. Looks like you are have the same issue as me. @dwieeb looks like this is not really operational as it requires logging in every time.

Even that wouldn't be possible as the password is not available for the developer(rightfully so).

[2016-07-03 18:51] dwieeb commented on #9
@cklanac Sorry about the headache. 😣 This is why I completely removed the method in the latest release. Next week I hope to work with @devnetics to release the password reset overhaul. It's gonna be awesome!

[2016-07-03 19:18] dwieeb commented on #10
@sagivf @cklanac We obviously don't want the developer to login the user every time. Please see my comments: https://github.com/driftyco/ionic-cloud-angular/issues/6#issuecomment-230167536 and try the latest 0.0.14. I just tried your example with 0.0.14 and was able to update my user.

[2016-07-03 22:07] sagivf commented on #10
It's working nicely after upgrading to 0.0.14 but there is a small thing which i'm not sure are a problem.
For the user full details to be loaded (custom data) I have do do the following:

[code]

[2016-07-03 22:13] sagivf commented on #11
Thanks @dwieeb I to will try to investigate later this week, maybe I will have luck...

[2016-07-04 14:40] sagivf commented on #10
@dwieeb shall I open an issue for this?

[2016-07-05 00:40] dwieeb commented on #10
@sagivf Looks like a bug. I published a new version. Thanks! If there are additional issues, please feel free to open new ones.

[2016-07-05 00:40] #10 closed

[2016-07-05 17:05] szuzul opened #14 "Documentation mess"
There is a mess in documentation on http://docs.ionic.io/docs/ for push service no ionic cloud is meshed and half of documentation steps are not correct.
If you are trying to implement push service at this moment from ionic push documentation it is mission impossible.

[2016-07-05 19:16] dwieeb commented on #14
Yes, we're aware. `ionic-cloud` is not released yet. We are currently working on new documentation. For now, if you'd like to test it and give some feedback, see this issue: https://github.com/driftyco/ionic-cloud/issues/3

[2016-07-05 19:16] #14 closed

[2016-07-06 06:31] sagivf commented on #12
@dwieeb I seem to having a Ionic deploy and i'm guessing it's related.
When I use a deploy all the native stuff stops working ("Push" and "app version" plugin". I works like it does in the "Ionic View".
The headers seem to overlap with the phones battary indicator witch also happens in the "Ionic View" - see the attachment: (It's white so a little hard to see)

![image](https://cloud.githubusercon

[2016-07-06 15:38] dwieeb commented on #12
@sagivf Did you remember to comment out the `cordova.js` include in your `index.html`? That's still required even for v2 apps. We are addressing this soon.

@Manduro Can you try again with the latest version? Deploy is working without errors for me.

[2016-07-07 07:39] sagivf commented on #12
Thanks @dwieeb it works and it's awesome!

The problem with the header still happens tough... I will open a  separate issue on it.

Why Does the cordova.js need to be removed? is it because once you use Ionic deploy it has to load it, or is it relevant to any Ionic project? Couldn't find anything about it in the docs.

[2016-07-07 07:42] sagivf opened #16 "After removing cordova.js due to "Ionic Deploy" - IPhone status bar overlays header (Same in Ionic view)"
The header overlaps and the color of the indicators (time, battery, etc..) change to white.

This only occurs once I remove the cordova.js file. This is necessary for Ionic deploy to work.
I see the same behaviour constantly in "Ionic View" (same in all projects).

![image](https://cloud.githubusercontent.com/assets/1857466/16609383/77492966-435c-11e6-826b-39d1421a472d.png)

[2016-07-07 09:04] sagivf opened #17 "Ionic Deploy - saving version binary info in https://apps.ionic.io not working."
Not sure this is the correct place, but saving doesn't seem to work.

[2016-07-07 15:05] dwieeb commented on #17
Can you inspect the response to the API call in Chrome's Network tab? It may shed more light on what's going on. There is a fair amount of validation server-side that is just missing client-side during this first pass of our beta UI. I do know the versions have to be semver.

[2016-07-07 15:14] dwieeb commented on #12
@sagivf It doesn't use a different version or anything. When a new version is deployed to a device, it creates a subfolder with all your `www` assets. It then references that folder, but `<script src="cordova.js"></script>` is just wrong. So right now the _cloud client_, not the plugin, fixes that path. Ideally, that logic would be in the plugin so people wouldn't have to comment it out, but the w

[2016-07-07 15:15] dwieeb commented on #16
@sagivf I will test this on an iOS device today! It could be a number of different issues and we may need to rope some people in to help.

[2016-07-07 20:15] jgw96 opened #18 "bug: Push not working in Production mode"
_From @aetchegoyen on July 1, 2016 21:3_

**Type**: <span ionic-type>bug</span>

**Ionic Version**: <span ionic-version>1.x</span>

**Platform**: <span ionic-platform>ios</span> <span ionic-platform-version>9</span>  <span ionic-webview>webview</span>

As for now, I've already:

- Created both Development and Distribution certs from scratch from Apple Developer Portal
- Reloaded the certs in my ma

[2016-07-07 20:15] jgw96 commented on #18
Hello! Since this is an issue with our push notification service i will be moving this issue to the appropriate repo. Thanks for using Ionic!

[2016-07-07 20:20] Fuiste commented on #18
Hey @aetchegoyen, have you confirmed that you're on the latest version of the `ionic-platform-web-client` as well as `phonegap-plugin-push`, and that you've followed our [security profile](http://docs.ionic.io/docs/ios-push-profiles) docs?

[2016-07-08 15:46] sagivf commented on #17
Why didn't I think of that :)
Looking at the response It's indeed a validation issue. The "note" can't be blank.
After adding it in, saving works.
It doesn't seem to be mandatory in the UI or doc so this is somewhat of a bug....

[2016-07-08 15:47] dwieeb commented on #17
@sagivf I agree.

@perrygovier Do you think this could fit into what you're working on?

[2016-07-08 15:48] sagivf commented on #17
@dwieeb Shall I rename the title or open a new bug?

[2016-07-08 16:03] sagivf commented on #16
This has something to do with the https://github.com/apache/cordova-plugin-statusbar plugin.
adding `<preference name="StatusBarOverlaysWebView" value="false" /> ` to the config.xml fixed the position issue.

Still haven't solved the color issue though.
Plus it kind of hacky having to do this due to the Ionic Platform...

[2016-07-08 16:17] dwieeb commented on #17
New issue: https://github.com/driftyco/ionic-cloud-issues/issues/137

[2016-07-08 16:17] #17 closed

[2016-07-08 16:19] dwieeb commented on #18
@aetchegoyen You can [check the status](http://docs.ionic.io/docs/api-push#notifications-list-messages) of messages sent with your notification to find out more.

[2016-07-08 16:19] #18 closed

[2016-07-08 16:19] sagivf commented on #16
OK found something else.

Seeing these errors -

![image](https://cloud.githubusercontent.com/assets/1857466/16694009/ab962b70-4540-11e6-97e7-2fd782b53da4.png)

But when installing the plugin I get a message saying they are already installed.
My guess is that the cordova.js is injected to late, or something like that.

[2016-07-08 16:21] dwieeb commented on #16
@sagivf We verified this yesterday on our devices, by the way. This may require a plugin update. We should not be injecting `cordova.js` in javascript.

[2016-07-08 16:24] sagivf commented on #16
You mean you verified that it works? Not sure I follow. Is there a change on the way which will address this? Is there a workaround in the meantime?

[2016-07-08 16:32] dwieeb commented on #16
Sorry, I meant that we're also getting the status bar issue. I'm looking at our options right now.

[2016-07-10 00:27] sagivf opened #19 "Better "enable google+ api" documentation and error handling."
Got this view after logging in:
![image](https://cloud.githubusercontent.com/assets/1857466/16710980/1acb6268-464e-11e6-88c9-6de34b1a0be4.png)

Seems to work after I enable google+ api , perhaps it needs adding to the docs.
![image](https://cloud.githubusercontent.com/assets/1857466/16710984/3d971ac6-464e-11e6-895c-94eaf62586c3.png)

[2016-07-10 00:36] sagivf opened #20 "Social Login not collecting user info"
Most auth systems collect the social providers user data (name, email at times, etc...).
At least for google it doesn't seem to do so.

[2016-07-10 00:40] sagivf opened #21 "No promise resolution when user closes social provider window."
Clicking
![image](https://cloud.githubusercontent.com/assets/1857466/16711031/f6c2a88e-464f-11e6-9a05-eb63c7deb928.png)

Will get your app flow stuck since there is no result.
![image](https://cloud.githubusercontent.com/assets/1857466/16711033/1a0db7a2-4650-11e6-9714-a554161a7ad3.png)

[2016-07-10 00:42] sagivf opened #22 "Social provider - no way of knowing if login or signup"
When I use a social provider there is no way to know if the user has just signed up for the first time or logged in. There should be some parameter in the callback/promise informing this.

I could create two separate views but:
a) Bad UX
b) The user might have signed up in the past and there is no easy way of telling.

[2016-07-10 01:07] dwieeb commented on #20
@sagivf -- @devnetics is actually working on this right now. None of the current social providers are collecting additional information. This was a known limitation that we are now addressing. I'll keep this open to inform you when you can expect this functionality.

[2016-07-10 01:42] dwieeb commented on #19
@sagivf We're doing a massive rewrite of our documentation to ensure that it is current, clear, and accurate. @devnetics is looking into social provider authentication to provide better error messages when something like this goes wrong.

[2016-07-10 01:45] dwieeb commented on #22
@sagivf I also noticed this while playing with our social auth. @devnetics, want to work with me next week to ensure this functionality? Should be pretty simple.

[2016-07-10 07:51] sagivf commented on #19
@dwieeb Thanks, no worries, If you can catch it that would be good, but if the setup steps are accurate I don't think this should be an issue.

[2016-07-11 16:24] dwieeb commented on #16
@sagivf We will be fixing this issue this week. @Fuiste is looking into fixing the deploy plugin so this no longer happens. Ionic View is also being addressed.

[2016-07-11 16:26] dwieeb commented on #12
I believe the fix coming with https://github.com/driftyco/ionic-cloud/issues/16 will fix this issue.

[2016-07-11 16:26] #12 closed

[2016-07-11 21:30] devnetics commented on #11
@sagivf Have you done anything further with this?

[2016-07-11 21:39] sagivf commented on #11
Sorry @devnetics - wasn't able to get to it yet.

[2016-07-11 21:40] devnetics commented on #11
No worries @sagivf. I'm looking into this at the moment. I'll post here with any updates.

[2016-07-13 20:07] IndyJones72 commented on #20
@dwieeb  - Ok so even though this was for Google, we'll at the very least hopefully have this information for Google, Facebook and Twitter?

[2016-07-13 20:08] dwieeb commented on #20
@IndyJones72 Yes! I changed the title so it is more fitting.

[2016-07-14 05:11] sagivf commented on #11
@devnetics @dwieeb - hope i'm not stepping any bounds, but shouldn't this be in the beta release milestone? https://github.com/driftyco/ionic-cloud/milestone/1

[2016-07-14 05:12] sagivf commented on #21
@devnetics @dwieeb - hope i'm not stepping any bounds, but shouldn't this be in the beta release milestone? https://github.com/driftyco/ionic-cloud/milestone/1

[2016-07-14 21:08] Manduro commented on #16
This is not only happening for statusbar or splashscreen, but for any cordova plugin. Still, for the statusbar you can use the following config setting to prevent it from overlapping the header:

[code]

[2016-07-15 01:11] dwieeb commented on #21
Hi @sagivf. Apologies for the slow turnaround. I believe this was fixed in https://github.com/driftyco/ionic-cloud/commit/985d2e9ddf0459383e857acf21a6ad06b99e580a.

I am now **rejecting** the promise if the InAppBrowser is closed before successful authentication. I will have a release out soon!

[2016-07-15 01:11] #21 closed

[2016-07-15 01:19] dwieeb commented on #16
@Manduro Yep, the problem is just an order-of-operations issue with how we're loading cordova.js. The status bar is just the most immediate and obvious thing that's broken.

[2016-07-15 14:19] devnetics commented on #11
@sagivf Will you test something for me and see if this fixes the issue for you:

1) Go to your facebook developer account and navigate to the relevant app
2) Click "Add Product" on the left side menu
3) Select "Facebook Login"
4) Make sure it looks like this:

<img width="631" alt="screen shot 2016-07-15 at 10 17 44 am" src="https://cloud.githubusercontent.com/assets/6577282/16877297/693fc922-4a75

[2016-07-15 14:49] sagivf commented on #11
@devnetics it works! Thanks for helping out.

There is how ever one issue, not critiacal at -
After login out and in - you have re login to Facebook every time.

When I used http://ionicframework.com/docs/v2/native/facebook/ in a different app, it remembered the user credentials when login into facebook, and the user doesn't have to go trough the login again (lots of users doesn't remember their c

[2016-07-15 14:51] devnetics commented on #11
No problem!

Yeah I noticed that as well on my end, I'm guessing it's related to their changes but I'll have to take a look next week. Go ahead and open a new issue for that, closing this one.

[2016-07-15 14:52] #11 closed

[2016-07-16 07:57] sagivf opened #23 "Social login not "remembering" user credentials"
After login out and in - you have re login to Facebook every time.

When I used http://ionicframework.com/docs/v2/native/facebook/ in a different app, it remembered the user credentials when login into Facebook, and the user doesn't have to go trough the login again (lots of users doesn't remember their credentials).

Not sure this can be achieved in the current constellation, maybe through some s

[2016-07-17 12:41] sagivf commented on #20
@dwieeb I've been wondering - will the platform do some sort of unification of the same person with different social logins or will each one create a new user in the system?

Not sure myself which is better, I'm guessing they could be unified based on the email.  Probably best if it were configurable.

[2016-07-17 16:42] dwieeb commented on #20
@sagivf Unification of users is actually pretty complex. Even once you're sure they're the same person (via email, for example), merging data and avoiding data destruction is a complicated process. Not all social networks give us email addresses and most don't give enough general data to piece things together.

But honestly, I don't see _logins_ being merged. If a user shares an email address in t

[2016-07-17 16:48] sagivf commented on #20
@dwieeb I agree with all of what you say.
Take into consideration that there are use cases were you want a user to sign in one way. then validate his email, then add social logins for all sorts of info from the social provider.

This is defiantly not a common use case for apps and not necessary to do with authentication, but it's good to keep in mind.

[2016-07-17 17:03] dwieeb commented on #20
@sagivf Ah, yeah. Not a use case we'd tackle with our authentication. Devs are free to add those additional hookups themselves and then save such information in users' custom data. I would say it's not in our scope to add support for that, something which could be done with plugins such as [cordova-plugin-facebook4](https://github.com/jeduan/cordova-plugin-facebook4) or libraries.

[2016-07-21 00:56] Fuiste commented on #16
As @Manduro mentioned on the `ionic-plugin-deploy` repo, I'm currently working on a fix for this wherein the reference to `cordova.js` is manipulated natively in the plugin rather than in the cloud client.  It's still not 100% yet, and I still need to add Android support, but this should be addressed in the coming days.

[2016-07-27 08:48] Chrisp1tv commented on #3
Hi all :) Sorry if I'm not posting in the good topic, but I hope I am. After migrate from `ionic-platform-web-client` to `ionic-cloud`, I can't get Push notifications working in browser... I was using development mode (`dev_push = true`) whit `ionic-platform-web-client`, but I think push notifications aren't working anymore in browser with `ionic-cloud` ?

And, one more question. How to define the

[2016-07-29 18:44] ericb commented on #3
@Chrisp1tv Development pushes were removed in the cloud client. We will be implementing true browser push support with a later release.

As for documentation, we are still working on the full documentation for the new cloud client. The current guides are just very basic things to get someone going, but are not intended to guide you through full usage yet.

[2016-08-02 07:41] sagivf opened #24 "null value for in users custom data field brakes login"
How to reproduce:
Save a custom field (lets say "phone") with the value of `null`.
Try to login you will get -

![image](https://cloud.githubusercontent.com/assets/1857466/17320687/7b851aa2-589d-11e6-993e-b3c361a1331b.png)

[2016-08-02 07:42] sagivf commented on #24
I guess the api should either prevent saving a null value or allow fetching one.

[2016-08-04 18:43] dwieeb commented on #23
@sagivf The Facebook dialog opens when `auth.login('facebook')` is called and the user is prompted to login every time. We're not specifying an `auth_type` (see https://developers.facebook.com/docs/facebook-login/reauthentication) so I'm assuming the Facebook dialog just assumes you want to re-authenticate every time. I'm not sure if we want to remember the user credentials by default, but I think

[2016-08-04 19:15] sagivf commented on #23
Not sure a fully get this, but in the browser if you are signed in to facebook, any site using facebook OAuth  will not require you log in to facebook. If you logout on any window only then will you need to login. This behaviour is the same when you use the native facebook login.

Also it says that the reauthentication is meant for cases where there is sensative data that needs an extra password v

[2016-08-04 19:19] #24 closed

[2016-08-04 19:21] dwieeb commented on #24
Thanks, @sagivf!

[2016-08-04 20:56] dwieeb commented on #23
@sagivf Okay, it makes sense to remember them and not force a re-login.

[2016-08-05 09:57] makdas opened #25 "Error logging in with Ionic CLI"
I cant upload my build using the cli command "ionic upload" anymore.
I've uninstalled/reinstalled both cordova and ionic.

Console output:
Error logging in
Email or Password incorrect. Please visit https://apps.ionic.io for help. (CLI v1.7.16)
Your system information:
Cordova CLI: 6.3.0
Gulp version: CLI version 3.9.1
Gulp local: Local version 3.9.1
Ionic Framework Version: 1.3.1
Ionic CLI Version

[2016-08-05 13:44] ericb commented on #25
Have you tried logging in directly `ionic login` or verifying that your email / password works on https://apps.ionic.io

[2016-08-05 22:52] jaspervanveghel commented on #20
Are there any updates to report on the approximate completion date of this yet? We would like to integrate this into our app, which we'd like to release at the end of this month.

[2016-08-05 22:55] devnetics commented on #20
@jaspervanveghel This will be released next week. I'll update here when it's live.

[2016-08-05 22:58] IndyJones72 commented on #20
@devnetics - great news. We are also looking to release at the end of the month and this will be great to have

[2016-08-08 08:29] makdas commented on #25
I forgot to mention, yes i can log in with the details online no problem... Currently logged in.

[2016-08-10 09:28] makdas commented on #25
I've included my username and password so anyone can test and see its working, even though the cli says its incorrect.

$ ionic io
No previous login existed. Attempting to log in now.

To continue, please login to your Ionic account.
Don't have one? Create one at: https://apps.ionic.io/signup

**Email: info@digitalbeyond.co.za
Password: githubpass
Email or Password incorrect. Please visit https://

[2016-08-10 15:55] dwieeb commented on #25
Tried the exact command above with your username and  password.

[code]

I was logged in successfully, but the command failed.

Try deleting the `.ionic` folder in your home directory?

[2016-08-10 16:43] makdas commented on #25
after i deleted the .ionic folder.

$ ionic upload
No previous login existed. Attempting to log in now.

To continue, please login to your Ionic account.
Don't have one? Create a one at: https://apps.ionic.io/signup

Email: info@digitalbeyond.co.za
Password: githubpass
Error logging in
Email or Password incorrect. Please visit https://apps.ionic.io for help. (CLI v1.7.16)
Your system information:

[2016-08-10 17:41] dwieeb commented on #25
You don't have a proxy or anything set up, do you? What's the output of:

[code]

[code]

[2016-08-10 20:04] makdas commented on #25
no proxy setup no...

[2016-08-10 20:56] dwieeb commented on #25
Try `ionic login --email "info@digitalbeyond.co.za" --password "githubpass"`

[2016-08-11 06:03] makdas commented on #25
$ ionic login --email "info@digitalbeyond.co.za" --password "githubpass"
Error logging in

I've downgraded to 1.4, uprgraded to ionic 2 beta, uninstalled/reinstalled. Just won't log in.

[2016-08-11 06:17] makdas commented on #25
I've finally managed to login and start uploading.  The solution: Used my phone's internet instead of my home internet and it started working again.... so what do i need to tell my isp in order for my home internet to connect with ionic io ?

[2016-08-11 15:27] dwieeb commented on #25
Seems very strange indeed. If you find the cause, please post to this issue in case someone else has this problem.

[2016-08-11 15:27] #25 closed

[2016-08-12 19:22] ArkangelB commented on #20
@devnetics did you have any news :) we also have a release  but next month and give full facebook login with complete user data will be great!

[2016-08-12 20:42] joshgarwood commented on #16
@Fuiste any update on the fix for this and when it will be generally available?  Thanks for knocking this out, by the way!

[2016-08-12 20:44] Fuiste commented on #16
Oh, forgot to mention this, but the plugin v`0.6.0` was released yesterday, which addresses this problem.

You should no longer need to remove the `cordova.js` reference now, so feel free to give it a spin!

[2016-08-12 20:55] devnetics commented on #20
Hey guys, we have the PR ready to go on the backend to support Oauth provider user data. We didn't want to turn on a fairly complex new feature Friday afternoon, so we're hitting the on switch Monday morning. I'll post here when it's live.

We are giving you access to the basic user details (such as username, email (when available), full_name, and profile_picture), and then also recorded a raw_dat

[2016-08-13 00:31] dwieeb commented on #16
Next week I will be testing and prepping the cloud client with the new version of the deploy plugin.

This should be resolved soon so we can get this stuff out the door!

[2016-08-13 00:34] dwieeb commented on #22
We'll be including this in the milestone. @devnetics is making some good progress with this.

[2016-08-13 00:35] dwieeb commented on #23
I will do this for the milestone.

[2016-08-13 00:39] dwieeb commented on #3
The Cloud Client should be pretty stable at the moment. I have a few tasks for me next week to do some finishing touches and then we should be good to go. Thanks for the feedback everyone!

[2016-08-13 00:39] #3 closed

[2016-08-13 02:56] cfjedimaster commented on #20
Can I ask why you don't want to (possibly) provide the token?

[2016-08-13 03:19] IndyJones72 commented on #20
@devnetics - Great news, and I completely understand about throwing the switch on a Friday afternoon.  Really looking forward to this on Monday.

[2016-08-13 16:20] sagivf commented on #20
@devnetics Thanks for working on this.

I have recently implemented something similar for a wen app and was wondering regarding keep the user data up to date - meaning what happens if a user changes his photo / email / name etc... It's not critical for most apps, but could be in some cases.

Is there any implementation of this?
If not perhaps suppling the token will at least give the developers th

[2016-08-15 23:41] ArkangelB commented on #20
Hi @devnetics, does the PR it's ready to update or it will take a little more to be available?

[2016-08-16 18:33] devnetics commented on #20
@ArkangelB We soft launched it yesterday. The new docs and cloud client are also on their way, which will give you local access to the provider data (on log in with the cloud client), and the docs will demonstrate how to use it. If you're feeling antsy and want it right now, you can use the latest version of the cloud client [github.com/driftyco/ionic-cloud](github.com/driftyco/ionic-cloud), but I

[2016-08-17 05:18] IndyJones72 commented on #20
@devnetics - just a quick shoutout...this is working pretty darn well.

I share a few of our fellow posters in that having the token would be useful so we could obtain the email address of the user, however...and I'm reaching here...is it possible to send an email to Facebook somehow incorporating the user's FB id?  If so, maybe we don't need it and not have to worry about the token and added laye

[2016-08-17 05:24] sagivf commented on #20
Thanks @devnetics, great to see this coming along.
But do you pull to update the user details (like changing his name or photo)? Or does the user have to re login?

[2016-08-17 13:37] agarwalswapnil commented on #20
@devnetics please suggest when will it be available for public npm ?
I am on ionic version 2.0.0

[2016-08-17 13:50] IndyJones72 commented on #20
Ok am I reading the code incorrectly, or shouldn't the new social login info be available in $ionicUser.social after a successful login?

[2016-08-17 13:55] sagivf commented on #20
@IndyJones72 I may be wrong here but I think this is only for Ionic2, although this feature could probably easily be back ported as it's mostly server side.

[2016-08-17 14:43] IndyJones72 commented on #20
@sagivf - oh man I feel dumb then. I had thought ionic cloud was for both platforms as I did the whole migration from web platform to ionic.cloud and everything seemed to work so that's why I had asked.

I do see the "data" in my network debug feed and see everything coming back from the social service. However I can't use that data for some reason in the promise...all I get is the uuid. So I'm su

[2016-08-17 14:56] sagivf commented on #20
Actually you maybe right @IndyJones72, I guess your using the compiled results of typescript source...

I re-wrote my app since I had a lot of business changes due anyway.

My advice would be:

1) Ionic2 and angular2 are very different then there predecesores so conversion would probably be very tricky.

2) Writing the code Is usually much simpler then then getting your UX flow and business logic

[2016-08-17 15:24] agarwalswapnil commented on #20
@sagivf I believe data for social authentication will be available for ionic 1.3.
The documentation http://docs.ionic.io/docs/user-usage is available for ionic 1.3.

[2016-08-17 16:19] dwieeb commented on #20
Here's how this works. The Cloud Client initiates a series of HTTP redirects through our servers and the social network. At this time we store the social data, such as name, email, and profile picture on the user. The user is returned to the Cloud Client and that data will be available under `$ionicUser.social`, as @IndyJones72 mentioned. Our new documentation will have more details and you can wa

[2016-08-17 16:24] IndyJones72 commented on #20
@dwieeb - Thanks so much for the reply and the clarification.  If you have another npm scheduled today, I probably will wait for that...install it since it seems the compiled version I have is missing the social part of that new user object.  Please let us know when it's out there so I can give it a whirl.  Thanks!

[2016-08-17 16:27] ArkangelB commented on #20
@dwieeb  Thank you i'll be wait it for your npm release!

[2016-08-17 20:58] Alkasih opened #27 "$ionicUser is not defined"
Dear the team,

I tried the migration guide, but not too far I step in, I got the error message.

ionicAuth is not defined
ionicUser is not defined

[2016-08-17 22:41] dwieeb commented on #27
Gonna need more info/code examples. If that's truly the error you're getting, you probably need to use `$ionicAuth` and `$ionicUser`, not `ionicAuth` and `ionicUser`. The dollar sign is required because that's the name of the angular service.

[2016-08-17 23:05] Alkasih commented on #27
First in the app I initialize the ionic

.config(function($ionicCloudProvider) { $ionicCloudProvider.init({ "core": { "app_id": "YOUR-APP-ID" } }); })

And then in the app.js, I want to check if the user is authenticate or not

var user = $ionicUser; //just checking if $ionicUser is called, but it is undefined.

if($ionicAuth.isAuthenticated()) //$ionicAuth is undefined

[2016-08-17 23:08] dwieeb commented on #27
@Alkasih Did you inject the `$ionicUser` and `$ionicAuth` service? Take a look at https://docs.angularjs.org/guide/di.

[2016-08-17 23:12] Alkasih commented on #27
Not, I didn't do that. Should I? Yes, I guess. Sorry forget it.

One more question, please. The only reason that bring me to this migration is because of push.unregister(); is always give me the server responded with a status of 422 (UNPROCESSABLE ENTITY).

I mean can you ensure me if I migrate here than push.unregister() will work as expected?

[2016-08-17 23:16] dwieeb commented on #27
The `ionic-platform-web-client` is being deprecated. We are now focussing on this Ionic Cloud client going forward. If something doesn't work as expected, we will fix it here. I know for a fact I have already fixed that `push.unregister()` issue, but let me know if you encounter any other issues.

[2016-08-17 23:16] #27 closed

[2016-08-18 00:20] Alkasih opened #28 "Uncaught (in promise) Error: email and password are required for basic authentication."
Hi, I got new error when authenticate the user

[code]

[code]

And I got this error:

**Uncaught (in promise) Error: email and password are required for basic authentication.**

[2016-08-18 00:24] #28 closed

[2016-08-18 00:58] dwieeb commented on #20
@sagivf @IndyJones72 @ArkangelB I just published to npm! Please test social auth user data. Some things have changed--deploy in particular. Please see [this diff of the migration guide](https://github.com/driftyco/ionic-cloud/wiki/Migration-Guide/_compare/e23dee25d06bb56bfefb9aefe3095397269884ce...5769cac73176c71a9f37ba6b497c7084f96bd298) for more details.

[2016-08-18 01:02] Alkasih opened #29 "ReferenceError: Promise is not defined."
`$ionicAuth.login('basic', detail, option).then(success, failure);`

It gets me that promise is not defined when I test the app on real device. On browser, I didn't find this error.

[2016-08-18 01:08] IndyJones72 commented on #20
@dwieeb - On it!  Will report back.

[2016-08-18 01:39] ArkangelB commented on #20
@dwieeb awesome! will be in touch!

[2016-08-18 01:39] dwieeb commented on #29
@Alkasih `Promise` is expected to exist in the environment. If it does not, you'll need to polyfill it. See the [migration guide](https://github.com/driftyco/ionic-cloud/wiki/Migration-Guide) for more info.

That being said, however, I think we can polyfill `Promise` for angular 1 by using angular promises ([like so](https://gist.github.com/robianmcd/8f04507acd014b57b95a)). I'll look into this. Th

[2016-08-18 01:53] IndyJones72 commented on #20
@dwieeb @sagivf @ArkangelB - Installed latest npm, however can't get to the login page of twitter or Facebook.  Anyone else having issues?  I didn't change anything and my team didn't commit any new changes, so it should be the way it was always working.  Did I miss a change to the login?  Here's my current way I call the login....

`    $scope.FacebookLogin = function () {
        $ionicAuth.logi

[2016-08-18 01:56] Alkasih commented on #29
I have tried to `npm install es6-promise` in my project, and then add `require('es6-promise').polyfill();` in the very beginning of my gulpfile. But it still doesnt help. Can you please help me to how fix the probelm? Do I need to add [https://gist.github.com/robianmcd/8f04507acd014b57b95a](url) to my project manually?

[2016-08-18 01:57] dwieeb commented on #20
@IndyJones72 Looks correct (but you should remove `{'remember': true}` as it has no effect).

What are you seeing? It should resolve or reject that promise. Any errors?

[2016-08-18 02:06] dwieeb commented on #29
Your gulpfile? You need to add it into your Ionic app, not your build configuration file...

bluebird might have better documentation for browser support (if you don't want to mess with CommonJS): http://bluebirdjs.com/docs/install.html

No, don't add that gist to your project.

[2016-08-18 02:08] IndyJones72 commented on #20
@dwieeb - Ok removed that and still not reaching it.  I'm going to reboot....see if that makes any difference and then see if I can't capture any errors via the console or Safari and report back.  Probably something on my side, but did want to reach out and see if anyone else was having any issues before heading down that all-too familiar rabbit hole of my own stuff breaking it.

[2016-08-18 02:44] dwieeb commented on #20
Did you do `cordova plugin add cordova-plugin-inappbrowser --save`?

[2016-08-18 02:44] Alkasih commented on #29
In what file I need to add this? In the app.js file? And how to reference it?

I tried this in my auth.js controller

`var Promise = require('es6-promise').polyfill();`

It says that `require ` is not defined.

I have also installed the bluebird and reference it in the gulpfile.js in my project but still it doesn't fix it.

[2016-08-18 02:45] ArkangelB commented on #20
can somebody help me i'm trying to do the update but my npm update fails someone have the same issue? or can somebody tell me what am i doing wrong updating?

[2016-08-18 02:45] dwieeb commented on #29
Remove `es6-promise`. Add this line to your `index.html` file:

[code]

[2016-08-18 02:49] dwieeb commented on #20
@ArkangelB What is the command you're running and the error message?

[2016-08-18 03:07] Alkasih commented on #29
<script src="//cdn.jsdelivr.net/bluebird/3.4.1/bluebird.min.js"></script>
<script src="http://cdn.jsdelivr.net/bluebird/3.4.1/bluebird.min.js"></script>

I tried both of them one by one, but still no help. :(

[2016-08-18 03:13] Alkasih commented on #29
It helps. I forgot the the colon before the double dash `//`. Thank you for the workaround.

[2016-08-18 03:26] dwieeb commented on #29
I'll try to polyfill angular 1 promises on our end so the `<script` workaround isn't necessary.

For Angular 2 apps, a polyfill will be required.

[2016-08-18 03:26] #29 closed

[2016-08-18 03:26] Alkasih opened #30 "The option argument is required in register"
[code]

What kind of options are needed here?

[2016-08-18 04:27] dwieeb commented on #30
`register()` takes no arguments. What error are you getting?

[2016-08-18 04:30] dwieeb commented on #16
@sagivf @joshgarwood @Manduro If you update to the latest cloud client and deploy plugin, this issue should be fixed. Remember to add the `cordova.js` reference back in your `index.html`.

Let me know how it goes!

[2016-08-18 04:35] Alkasih commented on #30
`The options argument is required`

And it occured in the line of `$ionicPush.register`.

[2016-08-18 04:36] joshgarwood commented on #16
Thanks @dwieeb !!  I recently upgrade to Ionic 2 Beta 11, and there's a peer dependency issue with Angular RC.4.  I noticed the Issue created [here](https://github.com/driftyco/ionic-cloud-angular/issues/9), so unfortunately I don't think I can upgrade cloud angular until that issue is resolved.

[2016-08-18 04:38] Alkasih commented on #30
[code]

[2016-08-18 04:39] dwieeb commented on #16
@joshgarwood Okay, cool. I'm planning on another release tomorrow that should clear that issue up.

[2016-08-18 04:48] Alkasih commented on #30
This is my full code

`            $ionicAuth.signup(detailedLogin).then(function(newUser)
              {
                var options = {'remember' : true};
                console.log('signup worked ok, here is the new user '+JSON.stringify(newUser));
                console.log(user);

                $ionicAuth.login('basic', detailedLogin, options).then(function() {

                  //$ioni

[2016-08-18 04:53] Alkasih commented on #30
How do you put the detail.custom to the register user? Would it be the options that is needed?

[2016-08-18 05:18] Alkasih commented on #30
Unhandled rejection Error: The options argument is required.
    at new PushNotification (file:///android_asset/www/plugins/phonegap-plugin-push/www/push.js:27:15)
    at Object.module.exports.init (file:///android_asset/www/plugins/phonegap-plugin-push/www/push.js:260:16)
    at file:///android_asset/www/lib/ionic.cloud.min.js:1:31247
    at t.once (file:///android_asset/www/lib/ionic.cloud.min.j

[2016-08-18 05:36] Alkasih commented on #30
Hi can give me a quick respond of this, please?

[2016-08-18 06:41] Alkasih commented on #30
It always said that GCM project number is not found.

I have set it up here:

.config(function($ionicCloudProvider) {
  $ionicCloudProvider.init({
    "core": {
      "app_id": "YOUR-APP-ID"
      "sender_id": "GCM Number"
    }
  });
})

I also have tried     `  "gcm_key": "GCM Number"`

But none of them fix that.

I even have tried to re-run  `ionic config set gcm_key <your-gcm-project-number>`

[2016-08-18 06:43] Alkasih commented on #30
I have a deadline tomorrow for this app to be lauched in a workshop, it's been 24 hours I am not sleeping just to `push.unregister()` problem.

[2016-08-18 13:48] Alkasih commented on #30
The documentation is not fully describe how to set it, untill I look at the commit message and found this:

[code]

[2016-08-18 14:29] dwieeb commented on #30
@Alkasih You're using an undocumented beta version, as the Migration Guide says at the top. This won't be the first thing you encounter that's different between the cloud client and ionic-platform-web-client.

Our new documentation is coming soon.

For now, I've updated the config example to include that config format.

[2016-08-18 14:29] #30 closed

[2016-08-18 17:40] fknop commented on #20
@dwieeb Hi, thanks for this feature, working for me with Google+.

[2016-08-18 17:44] dwieeb commented on #20
@ArkangelB I'm not sure what all that's about. Try updating just our package. `npm update @ionic/cloud`

@fknop Awesome, glad to hear. 😄

[2016-08-18 19:11] ArkangelB commented on #20
@dwieeb haha sorry man i really was too busy and don't even look the  entire document that you make for us, an apology i will initiate the update 👍

Thanks for everything!

[2016-08-18 20:35] ArkangelB commented on #20
Hello, It exist a typo error at the tutorial,  you change  **ionic.cloud.min.js** for **ionic-cloud.min.js** so it does not load the module because not exist that file..

[2016-08-18 21:13] dwieeb commented on #20
@ArkangelB Thanks, fixed that in the migration guide!

[2016-08-19 00:13] #4 closed

[2016-08-19 00:16] dwieeb commented on #4
@meticoeus @Maistho Got this working! If `window.Promise` is undefined, set it to `$q`, otherwise patch our use of promises with `$q.when`. 🎉

[2016-08-19 01:48] ArkangelB commented on #20
hey @dwieeb i was trying to get Social Profile information from Facebook i can't find the data.. this is what am i using:

`$scope.facebookLogin = function() {
        $ionicAuth.login('facebook', authSettings).then(success, failure);
    };`

Everything works as usual but i have no data to display for social provider, when i use  **ionic run ios -l** and watch my console info showing **$ionicUser

[2016-08-19 01:56] devnetics commented on #20
@ArkangelB Can you fully expand that `social` object and post here with what it contains?

[2016-08-19 02:39] IndyJones72 commented on #20
@ArkangelB - Correct, I had Facebook and Twitter both "showing" the data coming back in the version just before this latest NPM.  I just didn't have the new version where that would get placed automatically into the `$ionicUser.social`.

However, for some reason since then I haven't been able to get Facebook or Twitter to open in the iOS Simulator or on an actual iPhone 6 Plus.

I'm going to pop G

[2016-08-19 03:48] IndyJones72 commented on #20
@dwieeb @devnetics - Ok I found what the problem was.  Coming from the ionic-platform-web-client and following the migration guide, I didn't uncomment this line:

`<script src="cordova.js"></script>`

...which I know is stated in the index.html file, but maybe it can be put as a reminder into the migration docs for twits like me?

So @dwieeb / @devnetics - when I close the app and reload it...it k

[2016-08-19 03:58] dwieeb commented on #20
@IndyJones72 Sorry for the confusion. The new deploy plugin does require the `cordova.js` include to be there.

@IndyJones72 @devnetics I will look into this tomorrow. The social data should be persisted into local storage. If it isn't, no problem, I'll add that logic. It will be simple. Thanks for your patience during this beta period and migration process.

[2016-08-19 04:10] IndyJones72 commented on #20
@dwieeb - No worries.  I made a decision for my company and my customers over a year ago after doing over a year of research of various multi-platform frameworks  to commit to Ionic as the only one I allow my devs to use.  So we see your commitment and communication as a sure sign that I made the correct decision.

Keep up the great work and thanks for looking into that persistence.

[2016-08-19 04:18] dwieeb commented on #20
@IndyJones72 Thank you! That means a lot. We are totally committed to making Ionic Cloud awesome. I think this cloud client and our new documentation will continue to show that.

[2016-08-19 09:27] fknop commented on #20
@dwieeb Just one thing tho. Is there any reason why the email is null with Google+? I only have the full name and picture.

[2016-08-19 10:08] Alkasih opened #31 "payload on push notification"
Hi, can you show us how to go to state on push receive?

This is how I call it in php, but how to handle it in the app?
[code]
		$content = json_encode($data);

		$ch = curl_init();
		curl_setopt($ch, CURLOPT_URL, $url);
		curl_setopt($ch, CURLOPT_POST, TRUE);
		curl_setopt($ch, CURLOPT_POSTFIELDS, $content);
		curl_setopt($ch, CURLOPT_HTTPHEADER, array(
		'Content-Type: application/json',
		'Auth

[2016-08-19 13:20] IndyJones72 commented on #20
@fknop -  I noticed the same on the FB one as well. Perhaps they're linked and hopefully while investigating the persistence issue that will be looked at as well.

[2016-08-19 15:37] jarodms6 opened #32 "Failure while building the project environment"
Ionic Package
Android builds were working ok yesterday (8/18).

Now I'm receiving this error right away for Android builds:
"Failure while building the project environment"
That is all the error contains

iOS builds are working though.

[2016-08-19 15:48] Alkasih commented on #32
Have you tried to remove the platform first and add it again?

[2016-08-19 15:51] Alkasih commented on #31
I am able to send the payload with this:

[code]

But still it can't open the target state.

[2016-08-19 16:24] dwieeb commented on #32
@jarodms6 Can you give it another try? It should be working now.

[2016-08-19 16:24] #32 closed

[2016-08-19 16:30] ArkangelB commented on #20
@devnetics here is both objects expanded

from iOS debug with safari console: (ionic Social Provider)

![object from safari console](https://cloud.githubusercontent.com/assets/20997658/17816662/38d1d092-65ef-11e6-9bb7-1a0d23062fee.png)

from Chrome console: (ionic basic)

![object from chrom console](https://cloud.githubusercontent.com/assets/20997658/17816686/5b932036-65ef-11e6-82a7-43d39a4d8361.

[2016-08-19 16:38] #16 closed

[2016-08-19 17:22] dwieeb commented on #22
@sagivf If you update, the signup flag is now in the object resolved from `login()`.

[2016-08-19 17:22] #22 closed

[2016-08-19 18:30] jarodms6 commented on #32
Thanks @dwieeb ! Working now!

[2016-08-19 20:05] devnetics commented on #20
@fknop @IndyJones72 @ArkangelB With google it seems to be coming through on `raw_data` but isn't properly being set in the local `social.data.email` property, whereas with Facebook we don't seem to be getting it at all.

Looking into this now, will update when we have the solution out.

[2016-08-19 21:13] Fuiste commented on #31
@Alkasih which version of the `ionic-cloud` are you using in this example?

In addition, are you using the `cloud-angular` integration?

[2016-08-19 22:07] dwieeb commented on #9
@cklanac @sagivf We have a new password reset system out there. We're still fine-tuning and styling, but this is essentially complete. I'm going to close this. Our new docs will have the full usage.

[2016-08-19 22:07] #9 closed

[2016-08-19 22:20] Alkasih commented on #31
I download this version from here.

I am just affraid if this has something to do with my `$rootScope.$on("$stateChangeStart"` :

Here is my full code in the app.js:

[code]

Under this `$ionicEventEmitter`, I also have `$rootScope.$on("$stateChangeStart"`

[code]

I am wondering if `$stateChangeStart` overlap the ` $ionicEventEmitter`.

Can you suggest me some workaround, and figure out what is t

[2016-08-19 23:01] Alkasih commented on #31
What is `cloud-angular` for btw? I am able to receive the notification. The matter now is only it doens't change the state on the payload.

[2016-08-19 23:07] dwieeb commented on #31
@Alkasih `cloud-angular` is for Ionic 2. You won't need to install it for your app.

Is `notification["message"]["payload"]["$state"]` actually defined and what you expect? If you're getting the value you're expecting, then this question is better suited for the [Ionic Forum](https://forum.ionicframework.com/), as it doesn't relate to the Ionic Cloud or the Cloud Client. It relates to the UI Route

[2016-08-20 02:08] jarodms6 opened #33 "Ionic Package for iOS build: "Missing 64-bit support...""
Ionic Package for iOS build completes successfully, but when I upload the IPA through Application Loader I am receiving the error:
ERROR ITMS-90086: "Missing 64-bit support. iOS apps...blah, blah, blah
We recommend using the default "Standard Architectures" build setting for Architectures in Xcode blah, blah, blah

I haven't seen this issue before, so not sure if there is a config.xml setting I ne

[2016-08-20 04:43] IndyJones72 commented on #20
@devnetics - ok cool.  Any thoughts/updates on the persistence of the social data in the $ionicUser object?

[2016-08-20 08:13] sagivf commented on #22
Thanks @dwieeb looks good, I was a little confused at first as this only applies to social signup/login. but that makes sense - login with an already registered user, does and should be rejected. I would make this clear in the docs and perhaps change the `signup?` param to `socialSignup?` to be clear.

[2016-08-20 08:25] sagivf commented on #9
Thanks @dwieeb any way to start trying e this out or should we wait for the docs? Are they available?

[2016-08-20 12:11] Alkasih commented on #31
Sometime it defined the value as expected, but sometime it is not. Weird behaviour.

[2016-08-20 13:11] Alkasih commented on #33
Can you be more specific in what CLI and mechine you build the ios app?

[2016-08-20 13:14] Alkasih commented on #31
And now there is one type of log I got in the browser when the notification is received:

`Resource Interperated as Script but transferred with MIME type text/plain `

This log only appear when I tap the notification. It doesn't appear if I open the app without the notification.

[2016-08-20 13:22] jarodms6 commented on #33
@Alkasih  This is for Ionic Package, so I don't think that question applies here.

[2016-08-20 14:30] SteveKennedy commented on #19
@dwieeb @sagivf Is there a work around for this?  I get this error no matter what I try, when authenticating via Google.

[2016-08-20 15:26] SteveKennedy commented on #19
For me, I got this error when I didn't have Google API's enabled in the Google API console.

[2016-08-20 15:48] sagivf commented on #20
@IndyJones72 @dwieeb @devnetics  sorry for adding confusion regarding Ionic2, that's what https://github.com/driftyco/ionic-cloud-angular is for. After not touching this for a while I got a little confused...

I've tested out facebook, google and twitter.
1) I also think that email, name, image should be perssited to the user object.
2) Google and twitter don't supply the email,
For facebook I thi

[2016-08-20 15:53] sagivf commented on #23
@dwieeb The more I think about it the more I think this is important.
Users that have to insert there credentials might easily prefer to just use a regular signup or forget about the app altogether. Ideally using the native facebook app would be best but this probably not possible so at least sharing the browsers mechanism would be good.

Haven't fully investigated the technical details but this i

[2016-08-20 15:55] sagivf commented on #19
Yes @SteveKennedy I think the title is confusing, I meant this should be added to the docs and return a better error.

[2016-08-20 16:52] Alkasih commented on #31
Well, I am stuck here. No the `$ionicEventEmitter` show at all right now.

[2016-08-20 16:57] dwieeb commented on #22
@sagivf It shouldn't be too confusing, right? Calling `signup()` is only for email/password authentication. For social authentication (and custom authentication, in which case a flag named `socialSignup?` would misrepresent), you only need to call `login('facebook')`. The `'facebook'` would indicate which auth provider is used, wouldn't it?

I certainly can return the `AuthModuleId` (e.g. `'facebo

[2016-08-20 17:04] dwieeb commented on #9
@sagivf There are two password reset "flows" now. You can either use our password reset forms (on a website) or you can build your own forms in your app.

For the former, you'll want to use `auth.passwordResetUrl` to direct the user to the forms -> https://github.com/driftyco/ionic-cloud/blob/069721620027bb5dbf1b60b2644754684cf7af3c/src/auth.ts#L166-L168

For the latter, you'll need to build your

[2016-08-20 19:23] devnetics commented on #20
@sagivf we will be adding this to the dashboard fairly soon. The Google email fix will go out on Monday.

[2016-08-20 19:26] devnetics commented on #20
@sagivf Twitter is a bit more complicated because you have to be approved at an app level not an API level so we can't actually provide that. You would have to get your individual app approved by Twitter. If you do, the email should be available within the social date object as normal.

[2016-08-20 19:35] Alkasih commented on #31
No Answer? I think that this migaration still has not complete yet?

[2016-08-20 23:17] Alkasih commented on #31
The problem is my `$ionicPlatform.ready ` is never firing while I put the even emitter inside it. Makes me crazy for three days.

[2016-08-20 23:17] #31 closed

[2016-08-21 11:51] sagivf commented on #22
@dwieeb maybe we should wait for more feedback. I just think that users that haven't used social login will get confused by the differences, I suppose just having clear docs will solve it.

Adding  the `AuthModuleId` would be nice - not critical.

[2016-08-21 11:56] sagivf commented on #16
thanks @dwieeb works nicely!

[2016-08-21 12:59] sagivf commented on #9
@dwieeb I tried installing from master but with all the cross dependencies I'm not sure this is possible. I'll wait for the next release.

Perhaps we should close this after the release, makes it easier to follow what needs following up.

[2016-08-21 14:34] SteveKennedy commented on #23
I agree about this importance. I think I'm running into this issue. I'm developing a new app using Ionic 2, TypeScript 2, and Angular 2.  When calling auth.login("facebook") - each and every time - it forces a new login screen.  Same for Google. My app users would hate me.  :)  I'm hoping to down play logging in via the app/email/basic.

[2016-08-22 01:52] ArkangelB commented on #20
@devnetics what about facebook, did you have something about it?

[2016-08-22 04:00] IndyJones72 commented on #20
@dwieeb @devnetics - We may have already touched on this earlier, but it would be really great if the "typical" user data is persisted not only in the $ionicUser.social object, but also in the typical $ionicUser.details.image, $ionicUser.username, etc.

Right now (unless I'm doing something wrong), I have to check to see if the $ionicUser.social is populated....and then go further into seeing if i

[2016-08-22 05:27] devnetics commented on #20
@ArkangelB Facebook should be loading up that email address now. If it isn't, let me know.

@IndyJones72 The `social` object design won't be changing, as it gives us a lot of flexibility and simplicity for adding new features (such as **maybe** multiple providers). However, I think we could load those base details for you as well. @dwieeb and I will discuss and update you here.

[2016-08-22 05:36] devnetics commented on #23
@sagivf @SteveKennedy Please note I'm working on a fix for this and should have it updated shortly!

[2016-08-22 05:40] devnetics commented on #20
Full notes to all for what to expect this week:

1. Facebook should be getting you an email address now. There should be a secondary permissions screen (during the inappbrowser dialogue) that asks permission for the user's email address.
2. We'll be pushing out an update that fixes several fields that appear to be null after login (Google email field, Facebook profile_picture field, and 1-2 others

[2016-08-22 13:16] IndyJones72 commented on #20
@devnetics, no worries.  Right now I'm simply taking that info after login and placing it into those areas of ionicUser so I have some consistency across my logic.

However, a larger question is....while I know some things may change as stated in the guides, I am planning on releasing this app in the next week here.  How ok are we with doing this?

[2016-08-22 15:00] dwieeb commented on #23
@sagivf @SteveKennedy It's definitely possible for us to provide a login method with the native Facebook app (with the [cordova-plugin-facebook4](https://github.com/jeduan/cordova-plugin-facebook4) plugin of course) for Ionic Authentication. We just went the InAppBrowser route because it was faster/easier/whatever.

I'll think on this.

[2016-08-22 15:21] dwieeb commented on #9
@sagivf Why install from master? The latest code (0.8.0-beta.15) is deployed on npm. I had forgotten to push to Github for my work last Friday, but you should be able to use this with what's on npm.

[2016-08-22 16:25] ArkangelB commented on #20
@devnetics will be working with this right now, it just a **npm update @ionic/cloud** or i will need to make part of the migration that you send?

[2016-08-22 16:51] sagivf commented on #9
@dwieeb Looking at the code I have it doesn't seem to match the api your mention.

![image](https://cloud.githubusercontent.com/assets/1857466/17863290/c2da278a-68a1-11e6-87c3-3a5246960c45.png)

![image](https://cloud.githubusercontent.com/assets/1857466/17863307/cec13624-68a1-11e6-8c68-7e257f11a968.png)

[2016-08-22 18:52] SteveKennedy commented on #23
Thanks for your hard work. This is all new to me, so I don't entirely know what I'm saying. :)

I don't entirely know the difference between the user experiences - between using inAppBrowser vs the Cordova plugin.  Ideally, I would want something seamlessly native looking.  I assume that's with the facebook4 plugin.

The inAppBrowser isn't a bad experience.  Except that it asks me to login to FB/G

[2016-08-22 19:23] dwieeb commented on #23
@SteveKennedy Yup, the native experience would come with that plugin, just like the rest of the apps with social logins.

@sagivf @SteveKennedy We're going to try to implement Facebook authentication using cordova-plugin-facebook4 for this milestone. This should give us what we want.

Now, no more scope creep! 😆

[2016-08-22 19:28] dwieeb commented on #22
@sagivf Honestly, I'd like to make aggressive changes to the User/Auth cloud client API itself. I'd like to split `Auth` into classes such as `EmailPasswordAuth`, `FacebookAuth`, etc. such that the methods are relevant to each auth type and their inputs and outputs are scoped to their authentication scheme. `FacebookAuth` would set the active user as a `FacebookUser` with attributes relevant to Fa

[2016-08-22 20:49] Alkasih opened #34 "is typing signal in ionic-cloud exist?"
Hi, I see that you have typing api in this version. I am just wondering if this will be implemented in the push chat/message function.

Can you please write a little documentation how to implement this? I want this. Thanks.

[2016-08-22 22:25] dwieeb commented on #34
What are you referring to?

[2016-08-22 22:28] Alkasih commented on #34
Like any chatting app, when someone is replying our message, there would be an icon that show us that user is typing. And I see that you have this in the folder: [https://github.com/driftyco/ionic-cloud/tree/master/typings](url)

[2016-08-22 22:32] dwieeb commented on #34
Those are Typescript type definition files. They aren't related to a chat feature.

[2016-08-22 22:33] Alkasih commented on #34
Upss, I am sorry. But can you give me an idea how to have this in ionic?

[2016-08-22 22:39] dwieeb commented on #34
This is a question more suited for the [Ionic Forums](https://forum.ionicframework.com/), not the client for the Ionic Cloud.

[2016-08-22 22:39] #34 closed

[2016-08-23 06:15] edjeezy commented on #20
Hello guys i am a roockie on ionic cloud and i would like to get a code snippet on how to get user's name and picture from facebook . Also a link to the "new" docs would be really helpfull .Thanks a lot !

[2016-08-23 06:49] sagivf commented on #20
@edjeezy have you implemented the Facebook login?
If you can wait, I would wait for the docs to be released and the api locked down.
But currently you should be able to find the details under the `user` object in the `social` property.

Also you can get the image based on the user id.`https://graph.facebook.com/v2.7/${user.id}/picture`

[2016-08-23 15:14] edjeezy commented on #20
@sagivf can you give me a sample code

[2016-08-23 15:27] sagivf commented on #20
@edjeezy Are you using Ionic2 or Ionic1?

[2016-08-23 15:46] edjeezy commented on #20
ionic 1 but i am going to upgrade to 2  for the production version

[2016-08-23 16:03] sagivf commented on #22
@dwieeb Heres my thoughts.

Firstly - if this were not in beta I would defiantly say it's not worth a braking change.

As far as the relevant attributes - I would in any case try to consolidate them into common attraibutes on the user (with an option to get unique ones).

If I'm not missing anything It's basically just a syntax change:
`this.auth.login('facebook')`
`this.auth.login('basic', { name

[2016-08-23 16:05] sagivf commented on #20
So code sample For which :) ?

[2016-08-23 16:06] edjeezy commented on #20
v1

[2016-08-23 16:19] sagivf commented on #20
I'm using V2 - but I think this should basically work -

[code]
http://docs.ionic.io/docs/user-usage

But again this is what this ticket is about and will probably change soon so keep following.

[2016-08-23 16:36] IndyJones72 commented on #20
@edjeezy - I'm using v1 and this works for my app so far.  Just waiting on some sample code for implementing the Push Notifications and Deploy/Check for Updates and I can finally package this thing up for Apple Police review.  Let me know if you have any questions.

`$scope.FacebookLogin = function () {
        $ionicAuth.login('facebook').then(function (_info) {

            $ionicUser.details.us

[2016-08-23 17:59] edjeezy commented on #20
Thanks for the support  @sagivf . One last question @IndyJones72 can i replace this code
`$ionicUser.details.username = $ionicUser.social.facebook.data.full_name;`
with this one
`$scope.user.username=$ionicUser.social.facebook.data.full_name;` for the two way data binding or should i use another method

[2016-08-23 18:11] IndyJones72 commented on #20
@edjeezy - I don't see why not.  The only reason I do it this way is because (correct me if I'm wrong @devnetics / @dwieeb) is $ionicUser is now "global" throughout the application.

So inside of one of my controllers, I do the following (if someone has a better way please chime in):

`$scope.user = $ionicUser`

Which will now allow you inside of your template to do something such as:

[code]

Now

[2016-08-23 19:00] ArkangelB commented on #20
Hello @dwieeb  i was working to make ir work the facebook info but i looks like the problem its not ionic cloud, i update to ionic v2 and when i make a deploy **ionic run ios** the app does not update at all, so i think that its why i cant see the social object.

So did you have an idea why does this happens or how can i fix it? i was looking around but there is not so much information about ionic

[2016-08-23 19:33] sagivf commented on #20
@ArkangelB Just so you know, I've always had problems with `ionic run ios` usually doesn't work for me. I use the emulator or run it through xcode (xcode doesn't always run smoothly either).

[2016-08-23 19:37] sagivf commented on #20
There are so many variables to this - Ionic cli version, cordova version, node version, ionic version, ios-deploy, ios-sim, os version, plugins, xcode version and probably more :)

[2016-08-23 19:47] dwieeb commented on #33
@jarodms6 I'm sorry, I've been swamped and haven't been able to take a look at this.

I remember messing with the architectures because there were build errors, so it may not be building with standard architectures anymore.

[2016-08-23 19:51] ArkangelB commented on #20
@sagivf  haha it's the first time that i have problems with ionic run ios but i know what you mean, i just make a package just to know if facebook social object its working and it works so i'm happy 👍  now i can keep working  with the next stage..

[2016-08-23 19:54] edjeezy commented on #20
Can i know when the 'updated' docs will be available ?

[2016-08-23 20:55] jarodms6 commented on #33
Appreciate the update @dwieeb, thanks!

[2016-08-23 22:01] devnetics commented on #20
Facebook and Google fixes are live now, the null fields should be corrected. We also pushed out a fix where in some cases Google email wasn't getting fetched properly.

@edjeezy We're working as fast as we can to get the updated docs out. The wait shouldn't be too much longer.

[2016-08-23 22:14] edjeezy commented on #20
@devnetics thank you for the hard work . Ionic is really a dream came thrue so keep on going .

[2016-08-23 22:16] devnetics commented on #20
@edjeezy Thanks! It means a lot to us to hear that.

[2016-08-23 22:21] ArkangelB commented on #20
@devnetics i have a question  i can have the image from facebook like this

$scope.imgProfile ="http://graph.facebook.com/v2.7/10153521906500989/picture"

and it get the same photo quality  that the picture that you bring to the object but if you ask for this one

$scope.imgProfile ="http://graph.facebook.com/v2.7/10153521906500989/picture?type=large"

it gets a much better quality, so my question

[2016-08-23 22:24] devnetics commented on #20
@ArkangelB We provide you with the base url, so you would just need to append that `type=SIZE` param onto your url.

For a very simple example, you could do:
`var profile_pic = $ionicUser.social.facebook.data.profile_picture + '?type=large'`;

[2016-08-23 22:53] ArkangelB commented on #20
@devnetics  ok this still works pretty nice!

Thanks for everything!

[2016-08-24 12:57] sagivf opened #35 "Password reset issues"
Tried using both strategies with some problems. wasn't able to receive an email.

1) Using the hosted form with `InAppBrowser` and `auth.passwordResetUrl` , got a 500 with an existing user.
![image](https://cloud.githubusercontent.com/assets/1857466/17931051/19d1b1ea-6a12-11e6-81f2-a6dc82c4d423.png)

2) Using mu own password reset form.
- with a valid email:
![image](https://cloud.githubuserconten

[2016-08-24 19:04] devnetics commented on #35
Hey @sagivf We identified the issue behind your error and fixed it on our end. Let me know if you have any further trouble.

And yes it should always return a 204.

[2016-08-24 19:04] #35 closed

[2016-08-25 01:58] jarodms6 commented on #33
Hi @dwieeb! Any progress on this? I just had some weird behaviour I'll say...

I uploaded a build of an app (let's say App1) with Application Loader earlier this afternoon, and the upload went fine.
I just did a new build for App2, and the upload with Application Loader keeps failing with the "Missing 64-bit support"

Any thoughts? Thanks!

[2016-08-25 14:36] sagivf commented on #35
Thanks @devnetics - works nicely for the hosted options.
For the custom form I get a "entry code" in the email - is that still in development?

Also the "change password" form opened from the email is nice but is not very responsive on my mobile device.

[2016-08-25 14:49] dwieeb commented on #35
@sagivf The "entry code" (really it's a _reset code_) must be entered manually by the user at this time. Ultimately I think we'd like to do some work with deep linking and even authenticator plugins, but we need to prioritize some other things, first.

@devnetics has a task to make the hosted forms mobile friendly.

[2016-08-25 15:41] sagivf commented on #35
@dwieeb where does he have to use it  "manually"? Is it his new password?

[2016-08-25 15:59] sagivf commented on #35
@sorry for the confusion - all is well 👍

[2016-08-26 18:16] devnetics commented on #20
Hey guys, we are going to ahead and close this issue. We are still making small tweaks/updates, nothing breaking. We have taken into account all of the feedback and will be iterating on this feature further after release of the new docs. Please report any actual errors in a new issue.

[2016-08-26 18:16] #20 closed

[2016-08-26 18:21] devnetics opened #36 "Facebook Native Login"
Add facebook native login and integrate with ionic cloud services.

[2016-08-26 18:22] devnetics opened #37 "Google Native Login"
Google is going to be removing support for Webview based Oauth logins, in favor of native. We will be integrating Native Google Login (using a cordova plugin) into the Ionic Cloud Client and deprecating the inappbrowser login.

Google post: https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html

Plugin: https://github.com/EddyVerbruggen/cordova-plugin-googlepl

[2016-08-26 18:25] dwieeb commented on #23
So we're actually going to go live with the current InAppBrowser implementation, but we have [a milestone](https://github.com/driftyco/ionic-cloud/milestone/2) for native social login in the Cloud Client that @devnetics and I will be putting together in the coming weeks, hopefully.

[2016-08-26 18:25] #23 closed

[2016-08-26 19:25] brudrigo commented on #20
sorry, but how can I use it in ionic2? I'm using ionic-cloud-angular but there isn't User.social.facebook.data for example. I try update it with `npm install --save @ionic/cloud-angular` but still...

[2016-08-26 19:37] IndyJones72 opened #38 "Social Login Not Working After Deployment Update"
The new social stuff is AMAZING and works well...until I deploy an update.  Steps to reproduce:

Login to either Facebook or Twitter Successfully
Check for Updates
Download Update
Extract Update
Logout
Try to click Facebook of Twitter Login again
-- OR --
Completely terminate app on the device and relaunch and click on Facebook or Twitter Login

Here's how I logout a user (notice how I'm clearing

[2016-08-27 02:55] dwieeb commented on #38
I'm not seeing any such failure following those steps. Are you testing this on Android or iOS?

- Is `signupFailure()` being called, which would mean the login is failing for some reason?
- Progress is no longer tracked as the third parameter of the `then` function and judging from the copy/paste, I don't think they're being called in your code.
- What are all those `$timeout`s for?
- You mentione

[2016-08-27 03:08] dwieeb commented on #33
@jarodms6 You're not specifying a custom version of cordova-ios are you? Look in `package.json` for `cordovaPlatforms` and let me know what's there for both apps.

Also in `config.xml` if you have any `<engine` tags, let me know.

[2016-08-28 00:57] IndyJones72 commented on #38
@dwieeb - Thanks for commenting.

-iOS so far.
-The signupFailure seems to be called on the Twitter one, but not the Facebook one.
-Only on the one (the Twitter failure) do we get the "InApp Browser Plugin Missing)
-Only on a complete reinstallation via Xcode after a new build and then run/install does the app allow me to log in via social networks again.
-Those timeouts are because for some reaso

[2016-08-29 02:13] IndyJones72 commented on #38
Ok I know what's going on, but not sure why.  The deployment for some reason, when extracted/installed the cordova.js file is now missing.  It's there on the initial ionic emulate iOS or ionic build iOS and then installed via xCode on the actual device.

When the updates are downloaded and extracted, everything seems to be loaded properly except the cordova.js file.   Any ideas?

[2016-08-29 13:59] dwieeb commented on #38
@IndyJones72 You have `cordova.js` uncommented in your `index.html`, right?

[2016-08-29 14:03] IndyJones72 commented on #38
Yep. That's what's so puzzling. I've even tried doing a build iOS first before doing the ionic upload and nothing.

I know we don't have access however there's no way for you to check on one of our latest uploads to see if the Cordova.js file is in there is there?

[2016-08-29 14:11] dwieeb commented on #38
You should be able to remote debug with Safari, right?

@Fuiste, any ideas?

@IndyJones72 The `$timeout`s shouldn't be necessary with the latest release. If you update your cloud client, you should be able to take those out. The problem is related to angular change detection, which should have been fixed [in this commit](https://github.com/driftyco/ionic-cloud/commit/68d55d3ed72dc540ed9dd9f16d06bd

[2016-08-29 14:17] IndyJones72 commented on #38
@dwieeb @Fuiste -  Yes, I have the debugger running in safari and see the Cordova file there. While keeping the debugger up I do the update. Suddenly the new files are there except for the Cordova.js one.

If you recall I had performed the migration and had not uncommented the Cordova file. So it's almost as if something still doesn't think that needs to be part of the upload or something is happe

[2016-08-29 14:18] Fuiste commented on #38
@IndyJones72 which version of the deploy plugin are you running?

[2016-08-29 14:33] IndyJones72 commented on #38
@Fuiste - I feel like an idiot and clearly haven't had enough coffee this morning.  How do you find out which version of the deploy plugin I'm running?

[2016-08-29 14:35] Fuiste commented on #38
No worries @IndyJones72!  You can find your plugin versions with:

[code]

The current version of Deploy should be 0.6.2

[2016-08-29 14:46] IndyJones72 commented on #38
@dwieeb - I see...with regards to the angular change detection.  Was this the commit that went out in the latest NPM which included the added social information?  In doing a npm list I see I'm running @ionic/cloud@0.8.0-beta.14.

[2016-08-29 14:51] IndyJones72 commented on #38
@Fuiste - Thanks buddy.  Ok here's the list:

[code]

...and I did confirm the issue is definitely with the deploy.  To recap very quickly....the cordova.js file exists when I run

`ionic serve`
`ionic emulate iOS`
`ionic build iOS` (and then run it via xCode on my device.

If I upload/deploy, and I attempt to run the latest version on Ionic View...it fails due to the missing cordova.js file as we

[2016-08-29 18:15] Fuiste commented on #38
@IndyJones72 what's your app ID?

[2016-08-29 18:32] IndyJones72 commented on #38
@Fuiste - It's a9fe9f50

[2016-08-29 19:49] dwieeb commented on #6
@eweap We now have official docs for handling push notifications: http://docs.ionic.io/services/push/#handling-notifications

[2016-08-29 19:51] dwieeb commented on #14
@szuzul Our new docs are live: http://docs.ionic.io

[2016-08-29 20:42] dwieeb opened #39 "Ionic Deploy: Offer some way to develop and test functionality in the browser / using `ionic serve`"
@piotrowski said on Nov 7, 2015:

[2016-08-29 20:47] dwieeb commented on #39
I'm guessing this is something we probably want to handle, just like how we want to support the browser as a platform for Ionic Push.

[2016-08-30 02:00] jarodms6 commented on #33
In both of the apps, I have the following:
"cordovaPlatforms": [
        "android"
    ]

and no <engine> tags in either config.xml

[2016-08-30 15:34] jarodms6 commented on #33
well....next in line for crazy unknown things.....

I tried "ionic package" on a different computer with the following config:
Cordova CLI: 5.4.1
Gulp version:  CLI version 3.9.0
Gulp local:
Ionic Framework Version: 1.2.4
Ionic CLI Version: 1.7.15
Ionic App Lib Version: 0.7.2
OS: Windows 7 SP1
Node Version: v4.4.5

Not sure if it's related or not, but after the build completed I was able to upload

[2016-08-30 15:42] IndyJones72 commented on #38
@Fuiste / @dwieeb - Just pinging back to see if you have any thoughts on this.  I'm unfortunately dead in the water until I can get this working and the Food & Wine Fest starts on September 14, so I have a little bit of time to make this a part of the app.

I did create another app on Ionic Cloud and copied in the code, changed the app id and did the relink, and the same thing occurs.  The "mocked

[2016-08-30 15:46] dwieeb commented on #33
It shouldn't matter what version of anything you're running locally as long as it's not setting versions of cordova-ios in your config files. This is very weird. Can I get your App ID and have you try another build?

[2016-08-30 16:58] IndyJones72 commented on #38
SUCCESS!!!!! - @Fuiste / @dwieeb - Not sure if you guys did anything but it works!!!  If you did something great!!!  In the meantime I created a new app completely from scratch (an empty ionic app) and followed your new docs to the letter and the social logins worked before and after the deploy.

I then went back into my a9fe9f50 app and the only thing I changed was I added the immediate $ionicDep

[2016-08-30 17:01] Fuiste commented on #38
Glad to hear you got it working @IndyJones72!  We were still looking into things on our end and hadn't come up with anything, so it's good to see you got it resolved!

Thanks for the kind words on the new docs as well, we are really excited to finally get them in front of people, as the old ones definitely needed some love!

[2016-08-30 17:01] #38 closed

[2016-08-30 18:34] jarodms6 commented on #33
about a week ago I deleted the app in Ionic Package and created a new one to see if there was anything related there. Same problem. Here is the new one:  eb756457

build #7 upload with Application Loader failed with the 64-bit error; build #8 was successfully uploaded

[2016-08-30 19:15] coderroggie opened #40 "Tests in fail after upgrade to ionic-cloud 'TypeError: undefined is not an object (evaluating 'this.config.settings.logger')"
After upgrading to version 2.0 of the Ionic CLI and moving to ionic-cloud, my jasmine tests run in phantomJS and Chrome fail due to the following error message:

[code]

I've narrowed down the issue to when i add ionic.cloud.js into karma.conf.js file as a source.  The project is an Ionic 1 project.  Beginning to think that I shouldn't have upgraded to version 2 of the CLI in the first place and g

[2016-08-30 20:36] dwieeb commented on #40
There were _a lot_ of changes made, I apologize I missed this. This was just an order-of-operations thing. If the logger is used before the config is registered, it tries to access a property on an undefined thing. TypeScript 2 would've caught this. 😆

If you update your library to the latest, it should be resolved. Let me know if there are any other issues.

[2016-08-30 20:36] #40 closed

[2016-08-30 21:02] coderroggie commented on #40
That did the trick, thanks :)

[2016-08-31 19:25] jarodms6 opened #41 "Package error for android build: "A problem occurred configuring root project 'android'.""
You have been opted out of telemetry. To change this, run: cordova telemetry on.
ANDROID_HOME=/usr/local/src/android-sdk-linux
JAVA_HOME=/usr/lib/jvm/java-8-oracle

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'android'.

     Searched in the following locations:
         https://repo1.maven.org/maven2/com/google/android/gms/play-services

[2016-08-31 19:37] dwieeb commented on #41
Odd... The Google Play Services are installed and up to date.

[2016-08-31 19:40] jarodms6 commented on #41
the last Android build I did was 8/24 (that was successful) and I haven't changed anything with package.json or config.xml

[2016-08-31 19:43] dwieeb commented on #41
Yeah, I switched servers. I was tired of the limited resources. Try again? Sorry about that.

[2016-08-31 19:51] jarodms6 commented on #41
Android build worked. Thanks!

[2016-08-31 19:51] #41 closed

[2016-09-01 11:28] KixS opened #42 "push notifications status returns null"
Hi,

I'm struggling to get the push notifications to work on iOS. While on Android it works just fine.
I've been getting ILLEGAL_CREDENTIAL_FORMAT errors which were due to me not setting up correctly the profiles.

However at some point I succeeded to get the right configuration as I was getting APNS_DEVICE_TOKEN_NOT_FOR_TOPIC;

After some other attempts I got: APNS_BAD_DEVICE_TOKEN

After that wh

[2016-09-01 16:02] ericb commented on #42
This is because the token you're sending has been invalidated. If it really is a valid token you can simply re-register the token (your app should call register on each app load). If not, calling register should return a new token for you to use.

We will likely be adding a property to the notification that will let you know how many tokens were skipped due to being invalid.

[2016-09-01 16:02] #42 closed

[2016-09-01 16:30] KixS commented on #42
Thank you very much for your answer.

However and as you are mentioning, my app is calling register on each app load. And at each load, it is registering with the same token that has been invalidated.
Even when I unregister and register back; it is still registering the same token.

Is there some kind of lag between unvalidating the token and being able to get a new one ?

Between my post and your

[2016-09-01 19:58] ericb commented on #42
APNS and GCM both are known to take a bit of time to actually unregister a token. We immediately invalidate in our system to prevent further sending of messages to the device token, but unfortunately we can't tell if the registration from APNS/GCM is truly valid or just *taking a bit to unregister*.

As a side note, you can see what each of the error messages mean in our [Push API](http://docs.ion

[2016-09-02 06:25] KixS commented on #42
Oh OK thank you very much for all your answers. It's been very helpful ! :-)

[2016-09-02 12:22] gruppjo opened #43 "availability through bower"
Will you provide `ionic-cloud` through bower at some point? Since `ionic-cloud` explicitly supports angular 1 and a lot of angular1/ionic1 apps rely on bower for managing dependencies, I think it would make a lot of sense.

[2016-09-02 12:59] ericb commented on #43
@gruppjo We may revisit this in the future, but it's not likely. We do not currently have any plans to support the Cloud client via bower.

[2016-09-02 12:59] #43 closed

[2016-09-02 17:22] edencorbin opened #44 "$ionicAuth.requestPasswordReset(email) 500 error. Cloud Services"
I'm calling $ionicAuth.requestPasswordReset(email); and I keep getting:

{"meta": {"version": "2.0.0-beta.0", "status": 500, "request_id": "xyz"}, "error": {"message": "500: Internal Server Error", "link": null, "type": "InternalServerError"}}

The rest of the user system works, even using the hosted forms results in the same error.

Should this feature work? Is it a configuration issue on my side

[2016-09-02 18:23] ericb commented on #44
You should not be getting a 500 error. Checking in on this now.

[2016-09-02 18:27] edencorbin commented on #44
Thanks allot for looking into it, really looking forward to resolving this, let me know if I can provide any more code or details to help troubleshoot.

[2016-09-02 18:37] devnetics commented on #44
Hey @edencorbin, our services actually caught your error before you even posted this issue, so I posted up a fix just before lunch. I'll reply here again when it's live and get you to test and confirm.

[2016-09-02 18:40] devnetics commented on #44
@edencorbin Hotfix is now live. Please test and let me know if you still have any problems.

[2016-09-02 19:00] edencorbin commented on #44
Didn't get the error, and I got the reset code email. This is probably a user error now, but when I call:
$ionicAuth.confirmPasswordReset(123456, 'newpass');
I get this error:
{"error": {"link": null, "message": "Code or email was invalid.", "type": "UnprocessableEntity"}, "meta": {"version": "2.0.0-beta.0", "request_id": "55b6a8b9-f3ca-4ef7-a447-aa5f0809734a", "status": 422}}

Any idea what I'm d

[2016-09-02 19:30] devnetics commented on #44
The email get's set in your local storage, and we grab it for the request.

https://github.com/driftyco/ionic-cloud/blob/master/src/auth.ts#L282
https://github.com/driftyco/ionic-cloud/blob/master/src/auth.ts#L296

Can you open up your local app resources (in chrome developer tools) and see if email is actually getting set after you request password reset?

[2016-09-02 19:31] devnetics commented on #44
And if you are testing in the browser and opening up a new app window, then you'll get this error because that email won't be in local-storage for the new app window.

[2016-09-02 19:49] edencorbin commented on #44
Perfect I'll test that in a bit and it should work fine. Thanks!

On Friday, September 2, 2016, Bryan Oliver <notifications@github.com> wrote:

--

Eden Corbin

541-380-1211

[2016-09-02 20:03] dwieeb commented on #44
@edencorbin It may also be useful to see what values the client is sending to the server. So the preview of the request would be good info, too.

[2016-09-03 04:18] edencorbin commented on #44
Everything works great, I was testing on new browser instances and/or new mobile test builds, after actually building the forms, and not dumping localStorage, it worked without problems. Well implemented feature!

[2016-09-03 04:18] #44 closed

[2016-09-03 04:25] devnetics commented on #44
Awesome, thanks!

On Sat, Sep 3, 2016, 12:18 AM Eden Corbin <notifications@github.com> wrote:

[2016-09-06 13:27] jaspervanveghel opened #45 "Facebook social login only relaying a bare minimum of values"
Following issue #20, which is awesome to have, it would be preferable to have more of the Core fields which should be returned by the Facebook API and available to the Ionic backend. For the particular app that I'm working on now, first_name and last_name would be helpful; we want to display profile pages for users where we refer to them by their first names. Splitting the full_name isn't really r

[2016-09-06 14:35] devnetics commented on #45
Hey @jaspervanveghel, we actually provide the full facebook response object in the `raw_data` field that gets returned to you. If you are using the cloud client, it would just be `this.user.social.facebook.data.raw_data.PROPERTY_YOU_WANT`, we just provide the most basic details inside of that `data` object for convenience. Check out http://docs.ionic.io/services/users/facebook-auth.html#data for m

[2016-09-06 14:35] #45 closed

[2016-09-06 14:43] devnetics commented on #45
p.s. @jaspervanveghel The change is now live, you should be able to receive `first_name` and `last_name` inside of the `raw_data` attribute in our response object. If you are using the cloud client then you could do...
[code]

[2016-09-06 21:11] jaspervanveghel commented on #45
Very cool. Thank you for the super fast response :)

[2016-09-07 14:38] yenteck commented on #25
i have the same problem

_To continue, please login to your Ionic account.
Don't have one? Create one at: https://apps.ionic.io/signup

Email: "n.yenteck@gmail.com"
error:   Invalid input for Email:
Email: n.yenteck@gmail.com
Password:
Email or Password incorrect. Please visit https://apps.ionic.io for help.
Initializing app with ionic.io....
Error initializing app: TypeError: Cannot read property

[2016-09-15 17:42] NoNameProvided opened #48 "Push.register() has wrong return signature"
Both the documentation and TypeScript intellisense states that `Push.register()` returns a `Promise<PushToken>` but the actually returned data is (at least on ios):

[code]

While the definition of`PushToken` is:

[code]

Push.saveToken() returns `Promise<PushToken>` as it's stated.

This is an easy fix, but I don't know if you want to introduce a new type for this, or just return with a explicit

[2016-09-15 18:25] dwieeb commented on #48
All up to date? 0.9.0? Where are you getting that definition?

Here's the definition of `PushToken` in 0.9.0: https://github.com/driftyco/ionic-cloud/blob/0.9.0/src/definitions.ts#L1129-L1155

[2016-09-15 19:02] NoNameProvided commented on #48
I am using @ionic/cloud-angular@0.4.0 which uses @ionic/cloud@0.9.0.

Ahh sorry, yeah I took that definition from the http endpoint. But still the `Push.register()` method returns only a `{ token: string, registered: boolean }` object on ios devices, which is definitely not a `PushToken` object. After that the `saveToken()` function returns a valid `PushToken` object, but not the `register()` func

[2016-09-15 19:14] dwieeb commented on #48
Most of the properties on `PushToken` are optional. We only know `id` and `type` once `saveToken()` is called. `registered` and `saved` can be `undefined` (falsy), but perhaps they should just be required and defaulted to `false` (doing this now).

`{ token: string, registered: boolean }` _does_ adhere to the `PushToken` interface, it's just that some properties aren't filled in until `saveToken()

[2016-09-15 19:17] dwieeb commented on #48
Honestly, `saveToken()` should be called for you when `register()` is called. I foresee this being a change I make.

[2016-09-15 19:23] NoNameProvided commented on #48
Yeah I missed that `id` is optional. Anyway I find this kind of confusing, `id` something devs expect to be mandatory. I would suggest to have a different type for the "bare" token object. So devs can see the difference.

Yes, this is a great idea! And it makes introducing a new type for the "bare" tokens unnecessary.

I can do a PR for this tomorrow or on the weekend.

[2016-09-15 19:25] NoNameProvided commented on #48
Thinking of a signature like `register(save: boolean = true)`. So if it's not intended it can be disabled.

[2016-09-15 19:32] dwieeb commented on #48
I think it's confusing, too! `saveToken()` should be called for you with `register()`. 😄

A PR would be excellent. I am out of town for a few weeks starting tomorrow and I'm not sure if a release of the Cloud Client will be made any time soon, FYI.

`save` would be an option. As a convention I've been having options be objects described by interfaces. See the signature of `saveToken()` and `PushSa

[2016-09-15 19:44] NoNameProvided commented on #48
Sounds good, will do it this way.

No problem, I can use my fork in the meantime.

[2016-09-15 19:50] dwieeb commented on #48
@NoNameProvided You may want to pull in the commits I made these past few minutes. I updated the `CONTRIBUTING.md` with the latest development info. Let me know if you have any questions.

Closing this issue--looking forward to your PR.

[2016-09-15 19:50] #48 closed

[2016-09-16 04:22] charyorde opened #49 "Login with facebook bad signature for signed_request"
[code]
Is ionic signing the facebook token before it is returned back?

This is what I'm expecting when I type this in the browser, https://graph.facebook.com/me?access_token=[token gotten from ionic cloud login with facebook service]
[code]

#### Platform info
[code]

[2016-09-16 18:19] devnetics commented on #49
Hey @charyorde what exactly are you trying to do? We currently don't return a Facebook access_token as part of our Oauth integration.

We are currently working on adding FB Native login, integrated with our cloud client, which you can track here: https://github.com/driftyco/ionic-cloud/milestone/2

With that, we will be adding access to the facebook_access token. Since it will be requested by the

[2016-09-16 20:04] charyorde commented on #49
`$ionicAuth.login('facebook').then(function(fbprofile) {`
fbprofile contains access_token returned from Facebook. When I hit the server with the endpoint `https://graph.facebook.com/me?access_token=[token gotten from ionic cloud login with facebook service]`, I get this:
[code]
Can you explain this?

[2016-09-19 23:34] ryanrolds commented on #49
What he is saying is that token is not a FB OAuth token. If you want details like name and email, check the `User.social.facebook`.

[2016-09-20 10:08] FrancescoMussi opened #50 "Bug or bad karma?"
Hello guys.
Sorry to bother.

Yesterday i was testing the Ionic push notification on both ios and android - with production certificate (all properly setup).

It wasn't working. I wasn't receiving any notification.

The Send push - from inside ionic.io dashboard - was working. I was receiving successfully the notifications on both ios and android.

But the cURL request wasn't working at all, both

[2016-09-20 12:15] ericb commented on #50
@FrancescoMussi You were just unlucky. I introduced a bug to a system that push happens to use for 1 thing (facepalm) which caused some (but not all) pushes to fail. We've since pushed a fix that addressed the new bug and everything is in proper order.

Cheers! :beers:

[2016-09-20 12:15] #50 closed

[2016-09-20 12:18] FrancescoMussi commented on #50
Okay thanks! I was starting to doubt my whole life!

[2016-09-20 14:40] RonSB opened #51 "Handle a notifications - Push not emitting inside my App"
Hi,
My app was Ionic version 1 and the notifications worked well, I followed all the [migration ](http://docs.ionic.io/migration.html) steps, and it works only when the app is closed/background.

My app is Ionic 1, I updated to the latest CLI 2.0.0, delete all references to the ionic-platform-web-client.

I place the listener to the 'cloud:push:notification'

[code]

Use this different method to h

[2016-09-21 10:48] sagivf opened #52 "Push Dashboard - Search by custom properties confusing"
Although there is no bug and you should use `details.email` and not `custom.email`,
this is very confusing.

Also I would add a spinner when searching (can also be confusion)

## **Using `custom.email`**
![image](https://cloud.githubusercontent.com/assets/1857466/18708012/67f1c13a-8001-11e6-877e-e3b74e431735.png)

## **Using `details.email`**
![image](https://cloud.githubusercontent.com/assets/185

[2016-09-21 12:24] ericb commented on #52
Hey @sagivf 👋

Was this confusing because you collect a secondary email and store it in the custom properties, or more in the way that you had once saved an email property under custom, and then realized it was already in details?

The spinner I definitely agree with.

[2016-09-21 12:36] sagivf commented on #52
Hi @ericb :smile:
I'm actually not sure how the custom email property got there. I thought It was something you guys add. I can't find anything in my code that should be doing it, but I might have saved it there at some point.

I don't see it here either on any of the users:
![image](https://cloud.githubusercontent.com/assets/1857466/18711040/c7f72fca-8010-11e6-884d-7dfbe132c5fd.png)

Do you not s

[2016-09-21 12:39] sagivf commented on #52
Thing is I've trip over this a few times and always think there is something wrong in the system till I realise what's really wrong...

[2016-09-21 12:41] sagivf commented on #52
Oh and I just read whats you wrote again - no, I'm not collecting a second email. not sure how this property got there...

[2016-09-21 13:11] ericb commented on #52
Ah, okay. Yeah, those fields are populated by custom properties you've saved at *any* point for an app. So if you had a single save early on that had email in the custom properties, it would have stored that field for future lookup.

There's a number of things we may do with that system in the future, but one of the things we could do in the short term is to provide a way to delete the lookup fiel

[2016-09-21 15:34] sagivf commented on #52
Yep - that sounds good 👍  feel free to rename the issue or close it. I would however reorder or emphasis details vs custom sections - it's easy to not notice which one you are on.

[2016-09-21 18:13] alejandrogkl opened #53 "Custom login with wrong credentials flow"
where should i received 401 errors from the server when invalid credentials.

[code]
if the credentials are ok it work

[2016-09-21 20:41] ericb commented on #53
It looks like we are lacking the ability to handler errors on the client side with our current custom auth flow. I think there are two things we should address here:

1. Add the ability to redirect with an error case (useful for custom auth that uses inappbrowser to display a custom login page)
2. Add the ability for custom auth to disregard Inappbrowser entirely and respond with a 401 status and

[2016-09-21 20:49] ericb commented on #52
I'll keep this open for now, since I believe both of those suggestions to be a good thing for us 👍

[2016-09-22 18:31] rgecy commented on #53
From what I can find, the inAppBrowser plugin has issues with the loaderror callback. I wnet through the Ionic Cloud Custom Auth flow and could never make the loaderror trigger.  It would be nice to handle the custom Auth without the inAppBrowser, and keep the user within the Ionic forms.

I was able to create a workaround where I called my custom login script to check the credentials and if succe

[2016-09-25 03:55] dmastag opened #54 "Ionic Package - Adding Custom file into iOS workspace for cordova plugin"
**Short description of the problem:**

I am testing the implementation of this plugin for firebase notifications, which works perfectly for android
https://github.com/guyromb/cordova-plugin-fcm-plus

Since I don't have a Mac, I am relying on the power of Ionic Package to create all my .ipa files. But one of the requirements of this plugin is _to put the GoogleService-Info.plist inside the platform

[2016-09-26 20:51] ericb commented on #54
Hi @dmastag. This is because we only package a few known files for the build process. Are you tied to using the plugin you've linked? We offer a push notification service and use the `phonegap-plugin-push` plugin which works with Package.

[2016-09-27 00:00] dmastag commented on #54
Hi @ericb ,
Yes, tried using the plugin that I linked with no success. The phonegap-plugin-push one is not tested for FCM yet, but according to this https://github.com/phonegap/phonegap-plugin-push/issues/929 version 2 can be tested for it.

Let me try to play around with it and see what happens.

[2016-09-27 01:01] dmastag opened #55 "Ionic Package for iOS not working"
Since this weekend, everytime I build using Ionic Package I am getting this error in the application loader.
Tried this out with 2 of my previous working apps and with a brand new ionic 2 app `ionic start pushtest --v2`

![image](https://cloud.githubusercontent.com/assets/5745805/18856813/7a060440-8488-11e6-81c0-3c6fa319937d.png)

[2016-09-27 12:48] ericb commented on #55
Are you able to submit something built locally? This appears to be caused by certain builds of (mac sierra)[http://stackoverflow.com/questions/37838487/error-itms-90167-no-app-bundles-found-in-the-package], but I'm not sure if this is caused by the version submitting the .ipa or the version building it. We are not yet running sierra on our package servers.

[2016-09-27 16:05] dmastag commented on #55
Yes, I am able to submit locally build ones. Had to use xcode and it was working.
Some other guys on the slack channel reported the same issues and other reports also.

Are there some changes on the package servers?

[2016-09-27 20:32] kroonwijk opened #56 "Ionic Packaging services fails to sign ios apps"
More recently, we get errors during the last code signing step of the Packaging process.

It is either:

Signing Identity:     "<good identity shown>"
Provisioning Profile: "<good profile shown>"
                      (<uuid shown>)

    /usr/bin/codesign --force --sign <thumbnail shown> --entitlements /Users/package/workspace/<appid>/cordova/platforms/ios/build/<app name>.build/Release-iphoneos/<

[2016-09-28 02:14] sdemurjian commented on #43
I would like it to be available through bower as well.

[2016-09-28 15:33] jaworskm opened #57 "Deploy: Cannot check for updates"
We had our application working for Ionic Cloud Beta. When we updated to Stable and updated the libraries we always get `false` from `$ionicDeploy.check()`.

We reviewed these things:

- Versions of libraries
- Our setup with `$ionicCloudProvider.init` is set
- Our Ionic IO configurations exist and we have run `ionic io init`
- Our code after initializing calls `check`

Our actual call to check loo

[2016-09-28 19:03] ericb commented on #57
@jaworskm What is the app id?

@Fuiste Let's add an update to the plugin that will dump more information about the request / response when checking for an update.

[2016-09-28 20:32] atlance01 opened #58 "Store Facebook auth Push token?"
Hey everyone,

I've spent the last couple days trying to fix this issue. I've got Facebook auth up and running in my app. The users appear as they should in the IO dashboard.

Then, I've got $ionicPush.register() called on index.html which then saves the token using the bit of code from the docs. But it doesn't ever seem to save the token or possibly there was never one to begin with.

Here's a bi

[2016-09-28 20:39] dwieeb commented on #58
I'm not sure what you're expecting to happen or what you want to happen. `$ionicPush.saveToken()` saves the _push_ token. The _auth_ token (Facebook's user access token), which is probably what you want, is not saved on the user currently, but there is an ongoing PR that will have this: https://github.com/driftyco/ionic-cloud/pull/46

[2016-09-28 20:46] atlance01 commented on #58
I assumed that once I've auth'd with Facebook, that I'd be able to send out push notifications by associating the Facebook user with their push token?

![screen shot 2016-09-28 at 4 41 56 pm 2](https://cloud.githubusercontent.com/assets/13652692/18931582/c9f7fb9e-859a-11e6-9f7f-bf2f53792563.png)

How can I store a push token thats associated with a facebook user? I assumed that would show up in th

[2016-09-29 00:29] NoNameProvided opened #59 "How to use with Ionic RC.0?"
In Ionic RC.0 the `provideCloud(CLOUD_SETTINGS)` cannot be added to the providers so the initialization of `Push` fails.

[2016-09-29 00:48] dwieeb commented on #59
@NoNameProvided I am currently in the process of cutting a release for the client as we speak. I will update this issue when the release is made!

[2016-09-29 01:36] dwieeb commented on #59
@NoNameProvided Please try updating the Cloud Client. The new configuration docs are here: http://docs.ionic.io/setup.html#configuration (switch to Ionic 2 docs if you have to).

Let me know if you have any issues!

[2016-09-29 01:40] NoNameProvided commented on #59
Thanks!

[2016-09-29 01:52] NoNameProvided commented on #59
Hmm it seems, it doesn't works for me. Adding the `CloudModule.forRoot(CLOUD_SETTINGS)` line will cause still the same ngc error:

[code]

Otherwise my app works well. So if I add this line, ngc dies, if I remove it everything goes smoothly.

Note: I am upgrading an app, not creating one from scratch.

[2016-09-29 03:05] dwieeb commented on #59
@NoNameProvided looking

[2016-09-29 04:02] dwieeb commented on #59
Okay, looks like more is needed to prep the cloud client for ngc. Despite my best efforts, I'm still getting that same error. I may need to look at this tomorrow, instead.

[2016-09-29 05:21] dwieeb commented on #59
@NoNameProvided Please update and try again!

[2016-09-29 05:21] #59 closed

[2016-09-29 12:24] jaworskm commented on #57
`app_id: b679588e`

[2016-09-29 14:43] dwieeb commented on #58
Ah, I see. Nothing is really standing out as to why it shouldn't be working for you.

Both `register()` and `saveToken()` return promises. Since you're not returning a promise in the `then()` handler of `register()`, the next `then()` won't ever be called. So call `$ionicUser.save()` in the next `then()` and _return_ the promise returned by `$ionicPush.saveToken(t);`. These calls aren't synchronou

[2016-09-29 15:25] NoNameProvided commented on #59
Thanks, it works now!

[2016-09-29 17:08] atlance01 commented on #58
First off, thank you for giving me such a thoughtful replies.

I tried your suggestions and I'm seeing any progress on my end. Myself and a fellow co-wowker spent some time console.logging various parts of the ionic.cloud.js files - specifically around the registration function and have found that the registration function is never actually executing on my machine.

In my console, _t_ always has t

[2016-09-29 18:18] atlance01 commented on #58
@dwieeb This worked!!! Thanks a million-billion. Ionic.io dashboard is the jammm.

[2016-09-29 18:18] #58 closed

[2016-09-30 00:45] IndyJones72 opened #60 "Issue with Reset of Passwords?"
Hi gang.  This was working just fine not too long ago, however getting some support tweets and emails saying reset of authorization via email is not working.

Just tried it myself and it's been about 20-30 minutes.  Still nothing.  Anything wrong that you're aware of?

[2016-09-30 02:03] ericb commented on #60
Sends immediately for me. Are you attempting to use the hosted password reset form?

[2016-09-30 02:14] IndyJones72 commented on #60
@ericb - Hmmm.  This is the code I used when I was testing everything and all seems to work like a charm...

[code]

[2016-09-30 02:22] IndyJones72 commented on #60
@ericb - There's no way for you guys to check and see if you got any password reset requests for tekagesolutions@gmail.com is there?  Just in case you need it, the two appID's which are published right now are a9fe9f50 and 2f4a887d

[2016-09-30 12:19] ericb commented on #60
@IndyJones72 That code snippet looks fine. I also see the user exists for both apps in a valid state, but no e-mails were sent to that address. Are you able to debug the app to see if there are any errors occurring?

@devnetics Can you verify that password reset from the latest cloud client with Ionic 1 integration is working?

[2016-09-30 14:13] IndyJones72 commented on #60
@ericb - Sure, I'll take a look and see.
@devnetics  - if you can verify the service is working for Ionic 1 that would help a ton.

[2016-09-30 14:33] joostvunderink commented on #56
I'm having the same issue. Additionally, `ionic package info` crashes on builds that have failed in this manner.

Failed build of this type:

[code]

Build that failed for a different reason:

[code]

Successful build for the same app:

[code]

I can send the app id in private if it helps.

[2016-09-30 18:45] IndyJones72 commented on #60
@ericb @devnetics - Ok finally got a chance to debug on a device and that code base does seem to make the call just fine.  So not sure if we're doing something wrong on our end here, but we certainly could be, so any help/insight appreciated.  Here's the Request and Response:

**Request**
`{"app_id":"2f4a887d","email":"Tekagesolutions@gmail.com","flow":"app"}`

**Response**
[code]

[2016-09-30 18:57] devnetics commented on #60
@IndyJones72 I'll have some time to look at this a bit later today. Will ping you here when I get a chance to test.

[2016-10-01 01:54] devnetics commented on #60
@IndyJones72, I was able to verify that the feature is working properly via Ionic V1 Cloud client. Going to check and see if the email was actually sent out to you.

[2016-10-01 04:00] mrmoses opened #61 "PWA Login for Social Providers"
Login with social providers from website/PWA does not seem to work.

The first issue seems to be the InAppBrowser requirement. A pure browser implementation can do things like window.open, so the InAppBrowser plugin shouldn't be necessary. I tried a quick workaround by setting `window.cordova.InAppBrowser = window` so that the call to `window.cordova.InAppBrowser.open()` would just use `window.ope

[2016-10-01 19:59] comfortme opened #62 "ionic package build ios with ionic 2 rc0 results with default cordova app"
hi!
after i updated my project to rc0, i used ionic package build ios and resulting app was default cordova device ready app that looked like this. this doesn't happen with package build android.

![image](https://cloud.githubusercontent.com/assets/18467824/19016683/50f7cc82-882a-11e6-8ea2-8fc36560a489.png)

[2016-10-02 13:37] comfortme commented on #62
i can say that it's not related to rc0 it happens to my beta11 app too.
it was working fine before i updated ionic cli maybe that?

[2016-10-03 04:50] omhybrid opened #63 "ionic package build error: linker command failed with exit code 1 (use -v to see invocation)"
Ld build/device/venture_places.app/venture_places normal armv7
    cd /Users/package/workspace/apps-510bdd29-54/cordova/platforms/ios
    export IPHONEOS_DEPLOYMENT_TARGET=8.0
    export PATH="/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/usr/bin:/Applications/Xcode.app/Contents/Developer/usr/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
    /Applications/Xco

[2016-10-03 05:55] meeximum opened #64 "DeployDownloadOptions"
Hi,

ist there an example how I can get progress information during downloading a package?

regards
Meex

[2016-10-03 10:47] omhybrid commented on #62
yes i have same problem

[2016-10-03 10:53] omhybrid commented on #62
@comfortme did you solve this? plaese help

[2016-10-03 10:55] comfortme commented on #62
not kind of a problem that we can solve.
there are issues and forum posts about it here

issues:
driftyco/ionic-cloud-issues#197
forum post:
https://forum.ionicframework.com/t/ionic-package-ios-build-fails-development-team-required/65033/15

[2016-10-04 19:27] ericb commented on #63
Are you attempting to use custom libraries with your ios project? It's saying that it can't find a `UserNotifications` library.

[2016-10-04 19:46] ericb commented on #62
Hey guys,

There have been a number of different issues all cropping up with the timing of all these new releases (ionic 2 update, ionic cli update, iOS 10, cloud client updates, etc). But from the original post I think this was simply the result of how dependency injection changed with Angular 2 (which subsequently changed in Ionic 2 RC0).

We've updated the cloud client to reflect these changes,

[2016-10-04 19:50] ericb commented on #64
We need to show examples of this in the documentation, but it's just done as a progress callback of `download` and `extract`:

[code]

[2016-10-04 19:51] meeximum commented on #64
thx a lot!

[2016-10-04 19:51] #64 closed

[2016-10-04 19:57] ericb commented on #61
You're definitely not the first person with this issue and there are some other areas where this same scenario fails so I'd like to address this for everyone within the next week or two. I've got some notes already written up in other issues posted previously (sorry I don't have time to find them right now), but they definitely address what you've written up here.

I'm keeping this open for now un

[2016-10-04 20:47] comfortme commented on #62
hi ericb
yes it is working again! thank you.

[2016-10-04 20:47] #62 closed

[2016-10-05 12:54] barretodaniel commented on #53
Hello @ericb, just wondering what the status on this is. Are we going to see this in an update soon?

[2016-10-05 17:13] rockertux commented on #32
@dwieeb I'm getting the same error, trying to build an iOS package, after working around driftyco/ionic-cli#1166 and driftyco/ionic-cli#1134.

[2016-10-05 19:21] SimoKorp opened #65 "Facebook Login Unprocessable Entity"
https://forum.ionicframework.com/t/ionic-auth-signup-unprocessable-entity/60417/6

As discussed there the facebook auth suddenly doesn't work in my app anymore. LinkedIn and GitHub on the other hand work just fine eventhough the code is exactly the same excluding the auth provider name:

       this.platform.ready().then(() => {
             this.auth.login('facebook').then((success) => {

[2016-10-06 01:46] jbasinger opened #67 "422 Unprocessable Entity error when logging in with Google or Facebook"
I'm calling $ionicAuth.login('facebook') and getting an error immediately with this response:

`{"meta": {"version": "2.0.0-beta.0", "status": 422, "request_id": "d6ecff9a-4c1a-474a-9e99-d17582282f47"}, "error": {"message": "An error occurred while validating the request parameters.", "type": "UnprocessableEntity", "link": null, "details": [{"error_type": "required", "errors": ["Missing data for r

[2016-10-06 03:27] ericb commented on #67
@jbasinger We recently pushed some updates for upcoming auth features which inadvertently affected current setups, but I've pushed an update that should have fixed things up for you. Can you try again?

[2016-10-06 03:28] ericb commented on #65
@SimoKorp I've just pushed a fix that should resolve this. Check out https://github.com/driftyco/ionic-cloud/issues/67 for more info.

[2016-10-06 03:28] #65 closed

[2016-10-06 03:44] K1N5L4Y3R commented on #53
Note: I have not tested the following, but I think it could be a workaround

What if instead of responding with a 401 status we intentionally send a wrong (or no) token to the redirect_uri so that this returns a 422 error? I think this could work at least for the case in which `inAppBrowserOptions.hidden` is set to true. My hypothesis is that this error (422 from Ionic Cloud) may be received on th

[2016-10-06 11:12] koenoe commented on #51
For me the `cloud:push:notification` is also not working. It's not firing.

[2016-10-06 12:21] ericb commented on #51
Are you correctly using $scope for the context of your app / code placement? You mentioned it works when the app is in the background/closed, but does that just mean that the notification is displayed in the notification area? If you click the notification when the app is closed, does the cloud:push:notification event fire then?

[2016-10-06 12:30] ericb commented on #53
@barretodaniel I've had a few distractions this week, but I'd like to say we'd have something out for this by end of next week.

@K1N5L4Y3R Thanks for testing a potential workaround, even if it didn't pan out 👍

[2016-10-06 12:41] koenoe commented on #51
I'm receiving the actual push notification. I've put some logging in my ionic-cloud-bundle file now and I discovered there's also an event `cloud:push:register`. If I listen to this one for example I successfully receive it. It doesn't matter whether I close the app and click the notification or I leave the app open. In both cases I'm not receiving the `cloud:push:notification` event. I'm using Io

[2016-10-06 13:30] ericb commented on #51
@koenoe Both events fire in the same way, and are registered internally at the same time. What happens if you try and listen for events directly from the Push Plugin? I haven't run this code directly, but it should be something like:

[code]

You can see [the relevant callback registration](https://github.com/driftyco/ionic-cloud/blob/master/src/push/push.ts#L295-L322) in the cloud client codebase

[2016-10-06 13:33] ericb commented on #61
Here is the [issue thread](https://github.com/driftyco/ionic-cloud/issues/53) I mentioned earlier @mrmoses

I'm closing this issue now so please follow along on issue #53

[2016-10-06 13:33] #61 closed

[2016-10-06 14:20] koenoe commented on #51
@ericb Thanks for the suggestion. I've tried it, but no luck.
I'm using ionic-cloud 0.10.0 and the phonegap-plugin-push 1.8.2

[2016-10-06 19:08] devnetics commented on #67
Tested and confirmed this is fixed. Closing for now. Update here @jbasinger if you have any issues.

[2016-10-06 19:08] #67 closed

[2016-10-06 19:11] devnetics commented on #49
Ryan is correct, the token we return is not a FB authentication token, but is in fact a token for your user's access to our api (that allows them to access their user data).

Currently, a successful login will come back as:
[code]

Let me know if you have any other questions. Closing.

[2016-10-06 19:11] #49 closed

[2016-10-06 20:48] ericb commented on #51
@koenoe Is an error thrown, or does it just not do anything? If you do the same thing but use 'registration'  as the event type, does it then log something? If so, this would point at something going wrong on the plugin side (perhaps an older version or misconfiguration, etc)

[2016-10-07 02:27] jbasinger commented on #67
Worked again for me as well. Thanks for the fast response guys! You rock.

[2016-10-07 07:21] koenoe commented on #51
@ericb I literally have no idea what went wrong. But after I started this morning again and had to reboot my MacBook and reopened Xcode, it all of a sudden works. Didn't change anything in the code! I see the 'payload' is in a property 'additionalData', so I'm going to change that now. Thanks, but I think this issue can be closed. Unless @RonSB still have problems?

[2016-10-07 12:05] ericb commented on #51
@koenoe Odd. Maybe something wasn't properly picking up the latest versions of the plugin or cloud client? Either way, glad to hear it's fixed up for you.

Cheers 🍻

[2016-10-07 12:05] #51 closed

[2016-10-07 13:32] RonSB commented on #51
Hi @ericb

Sorry for delay...

I'm using the last version for ionic/cloud (0.10.0) and the problem persisted in android, I will test in IOS.

Regards.

[2016-10-07 15:53] RonSB commented on #51
Hi @ericb

I'm using the last ionic/cloud@0.10.0
I wrote this code in App.js file and I tested:

[code]

and now it fired but only when the app is closed/background.
I don't know if I have to write this code in other place?

[2016-10-07 17:53] KixS opened #68 "Push notifications from development profile do not work"
Hi,

I have configured two profiles to use for push notifications. A development profile and a production profile.
I am doing tests on Android to update to the new FCM system. I have as well two databases on firebase, one for development and one for production. So I have two sender-ids.

When I build my app to test it using the development sender-id, all notifications that I send with the developm

[2016-10-07 20:06] ericb commented on #68
You need to make sure to update your app to use the correct sender id for each environment. A token must then be registered using that sender id, which can then only be sent using that sender id.

cc @Fuiste

[2016-10-07 20:09] Fuiste commented on #68
Yeah, my guess is that you're registering tokens for the production sender ID inadvertently, and as such API requests with the development server key are invalid.

It's also possible that there is an issue with the development server key/id you created, requiring them to be regenerated (this is highly unlikely, though).

[2016-10-08 15:12] KixS commented on #68
Thank you both for your answer!

I think the issue is coming from a misconfiguration of ionic-cloud from when I did the migration from the web-platform but when I try to reconfigure, I keep bumping into other issues.

So as you said, the registration is certainly sending the wrong id.

[2016-10-08 15:12] #68 closed

[2016-10-08 16:31] sagivf opened #69 "content_available: 1 in push notification params shows notification and might get triggered twice."
following https://github.com/driftyco/ionic-cloud-angular/issues/23#issuecomment-252084596

How to reproduce: add content_available: 1 as a notification param on IOS.

Issue:

1) Notification message is displayed to user when it should not.
2) Clicking the message causes the message to be triggered twice.

Fixing 1 will make 2 redundant.

[2016-10-10 13:53] jaworskm commented on #57
Is there a resolution? How should we move forwards?

[2016-10-10 14:54] sagivf commented on #36
@devnetics any news about this. I noticed there is long pull request waiting https://github.com/driftyco/ionic-cloud/pull/46

[2016-10-10 16:29] ericb commented on #36
@sagivf This should be coming into a release this week, but i'll have @devnetics send you the details for the beta release if you want to check it out.

[2016-10-10 17:18] devnetics commented on #36
Sending to you via Ionic worldwide slack. Thanks!

[2016-10-10 17:19] #36 closed

[2016-10-11 11:32] durasj opened #70 "Cordova.js not found after update using Deploy"
Hello,

I've been using older web client successfully. Recently I switched to the new cloud client and although update seems to be successful, app won't be able to load cordova.js (see console output below) which will lead to user being stuck at splashscreen after restart. I tried building app in Ionic Package, Sierra/XCode 8 on both macbook and in virtual machine.

![ionic deploy update cordova j

[2016-10-11 12:28] jay8585 commented on #70
Same issue with me...
Somebody help us! I also checked whitelist!!

[2016-10-11 12:39] durasj commented on #70
Hi @jay8585,

are you please using WKWebView?

Thanks

[2016-10-11 12:52] jay8585 commented on #70
Hello @durasj
Actually I'm not using WKWebView.. ^^

[2016-10-11 12:55] ericb commented on #70
If you've updated the cloud client, you'll need to update the deploy plugin as well.

[2016-10-11 13:08] jay8585 commented on #70
Thanks @ericb
My ionic-plugin-deploy version was 0.57 but ionic-cloud users should use 0.6.x version.
![image](https://cloud.githubusercontent.com/assets/8064923/19271146/390244b4-8ffe-11e6-8b43-dc795a40756e.png)

@ericb 's solution fixed my problem! Thanks :D

[2016-10-11 13:19] ericb commented on #70
Awesome, glad to hear it! Cheers 🍻

[2016-10-11 13:19] #70 closed

[2016-10-11 14:30] durasj commented on #70
Fixed the issue.

Strange is that project was recreated in different environments and the plugin was not updated. I also thought `ionic reset` would remove and add all plugins and platforms, which would update them, since there is no trace of version in package.json which is used by ionic state.

Thank you nonetheless

[2016-10-11 17:01] durasj commented on #70
Hi @ericb,

I just checked it again, and while the issue with app going down after restart is gone, the issue visible in the screen - which is .load() right after the update - is still there and App won't restart.

This is not as big issue as the problem after the reload, as one can suggest the user to reload the app, but still.

[2016-10-12 10:31] fetimo opened #71 "Facebook authentication: Invalid state parameter provided"
Sometimes when using Ionic Auth and signing up with Facebook we see the following error message after users have entered their email and password successfully:

![Facebook error](http://i.imgur.com/MkBdG0Y.png)

Sometimes this happens multiple times in a row, other times it happens once, and often not at all.

The code to initiate `$ionicAuth.login('facebook')` is bound to a button. I did notice t

[2016-10-13 11:19] RickMeijer commented on #40
I got the same type of error after migrating to Ionic Cloud and running a test.
For me it's the config.settings.core that called on line 17922 that is giving the error. After inspecting it doesn't seem there is a config.settings at this point in the code.
The config looks like this:
[code]
It's quite annoying to have the test randomly fail, and not being able to do anything about it.

[2016-10-13 21:46] #37 closed

[2016-10-14 14:16] koenoe opened #72 "Unit tests fail after upgrading to Ionic CLI 2 and Ionic Cloud from Ionic Platform Web Client"
My unit tests fail after upgrading from Ionic CLI 1.7.16 to Ionic CLI 2.1.0 and Ionic Cloud from Ionic Platform Web Client.

I've seen this issue: [#40](https://github.com/driftyco/ionic-cloud/issues/40), but it's closed and I can't reopen it.

My error:
[code]

It's an Ionic 1 project (1.3.1). More system info:
[code]

[2016-10-14 14:30] ericb commented on #72
Have you gone through the setup for the new Cloud client? You now need to define the configuration.

[2016-10-14 14:36] koenoe commented on #72
Yes, I got rid of the `ionic.project` and the `.io-config.json` and created an `ionic.config.json` with the following values:

[code]

[2016-10-14 14:42] ericb commented on #72
That's the project configuration. You need to run through the [cloud configuration](https://docs.ionic.io/setup.html#configuration). Make sure you've got the correct framework selected in the top left.

[2016-10-14 14:44] koenoe commented on #72
Oh I'm sorry, I misunderstood. I also configured the cloud configuration. It's working perfectly apart from my unit tests failing randomly.

[code]

[2016-10-14 15:14] dwieeb commented on #72
@koenoe Yes, I have seen reports of this before. Try blowing away `node_modules` and doing a fresh `npm install` (assuming your package.json is up to date with all the new stuff that's out).

If you have the same problem, could you make a simple repo that demonstrates the bug? I don't know the test runner/platform you're using and it would really help me to easily diagnose. Does that sound okay?

[2016-10-14 16:24] dwieeb commented on #33
@jarodms6 I am hoping the upgrade to xcode will fix this issue. Unfortunately there are changes to the provisioning profiles that need to be made in order to accommodate xcode 8 changes.

[2016-10-14 16:39] Fuiste commented on #57
@jaworskm which version of `ionic-plugin-deploy` are you using?  I ask because I can't reproduce this issue with `0.11.0` of the cloud client and `0.6.5` of the deploy plugin.

[2016-10-14 19:32] ericb commented on #53
:octocat: **Update**

I've pushed a new version of the cloud client and cloud-angular that addresses a portion of this. I've still got to update the custom-auth-examples project, but you should be able to send a custom error message with the inappbrowser flow by doing a redirect without a `token` and instead specifying an `error`.

That might be a bit hard to understand without documentation so le

[2016-10-14 19:40] alejandrogkl commented on #53
thanks a lot @ericb , i let you as soon as we test the flow. Probably on monday.

[2016-10-14 19:41] K1N5L4Y3R commented on #53
@ericb thank you so much! I will also let you know my findings as soon as I test it.

[2016-10-14 19:54] barretodaniel commented on #53
Thanks @ericb. I'm not sure if you remember our conversation about this, but do you know anything about being able to send data back through the request for custom authentication? We'd like to send back an authentication token so we don't have to hit our servers again for one after successful logins.

[2016-10-14 21:04] ericb commented on #53
@barretodaniel I do, this does not address that yet, though there is potential for it with the non inappbrowser flow I mentioned earlier.

[2016-10-14 22:08] jaworskm commented on #57
Ok, that could work. We were on:

- "ionic-plugin-deploy@0.6.4"
- "@ionic/cloud": "0.9.0"

I'll update and try. Thanks!

[code]

[2016-10-17 01:51] jamesvsshark opened #73 "Ionic 1.x - $ionicDeploy.check() is not resolving -- traced up to device.ready event handler not being fired"
Hello,

I'm facing an issue with $ionicDeploy.check() where the function is not resolving. I am using a real device. I have wrapped it in $ionicPlatform.ready and had it inside of angular1 run block and a controller and no luck.

I did some digging into the Ionic.cloud.js file and it appears the issue that the check function in itself is waiting for the event of "deploy:ready" to do it's thing --

[2016-10-17 15:23] asafco4 opened #74 "Push notification service is down?"
Everything was working great until today, suddenly no push notifications received.

My server shows that I get return code 201 (success) and this is one of the authorization ids I got:
"Authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI4YTQ5YWFkYS1lMDdjLTRhOWUtOWVjYi02ODA4ZWQ0ZjcwODMifQ.X0EXPOFYwswrx8NicqzLe87E2OiKzx213caBvGNecX8"

Please advise.

PS. there's no official suppo

[2016-10-17 15:50] dwieeb commented on #73
@jamesvsshark I assume you're testing this on a device or an emulator? It sounds like Cordova's `deviceready` event isn't being triggered. Can you verify this theory by doing something simple like this: https://cordova.apache.org/docs/en/latest/cordova/events/events.html#deviceready

[2016-10-17 16:12] ericb commented on #74
The push service is up and running (any outages will be posted to to our [status page](http://status.ionic.io/)). There has been no downtime today that we are aware of. Have you checked the status of your messages?

[2016-10-17 16:20] asafco4 commented on #74
Hi Eric, thanks for your reply.

Can you elaborate on what you mean by status messages?
I send the request to send the push and the reply is:

{"statusCode":201,"body":{"data":{"app_id":"486aaf62","uuid":"26c05c71-429b-4d89-8fd3-9aba13111921","created":"2016-10-17T06:15:03.624467+00:00","status":"open","state":"enqueued","config":{"notification":{"ios":{"title":"8","message":"8"},"message":"8","an

[2016-10-17 16:31] asafco4 commented on #74
I think I now get what you said...
Is there a quick & easy way to check the statuses of already sent push notifications?
I remember last time I had some hard times with curl due to special chars like ", ', /, \
Thanks

[2016-10-17 16:40] K1N5L4Y3R commented on #53
@ericb After some testing, I can say this seems to work as expected. Thanks again.

[2016-10-17 16:50] jamesvsshark commented on #73
Your theory is right. It's not being fired. I added that snippet with a console log inside of run block inside and outside an $ionicPlatform.ready check and inside a controller and there is nothing being logged.

[2016-10-17 16:51] dwieeb commented on #73
Is `window.cordova` defined?

[2016-10-17 16:56] jamesvsshark commented on #73
No it is `undefined`.

[2016-10-17 17:02] Fuiste commented on #74
@asafco4 there's two main ways to check the status of extant notifications.

First, you can use the `overview` field on the `notifications` endpoint for a simple listing of the number of messages delivered, invalid, error, etc ([docs](http://docs.ionic.io/api/endpoints/push.html#get-notifications)).

Second, you can use the `notifications/<uuid>/messages` endpoint for a more granular view of the m

[2016-10-17 17:02] #74 closed

[2016-10-17 17:16] jamesvsshark commented on #73
@dwieeb thank you for pointing me in the direction. I found the issue! Someone in my index.html this line was removed    ` <script src="cordova.js"></script>`

After adding cordova.js file back and adjusting CSP policy I am back in action!

Thank you so much!

[2016-10-17 17:16] #73 closed

[2016-10-17 18:35] dwieeb commented on #73
Glad to hear! Cheers 🍻

[2016-10-18 04:38] asafco4 commented on #74
@Fuiste  / @ericb

This is my latest notification request:
{
			"state" : "enqueued",
			"app_id" : "********",
			"created" : "2016-10-18T04:09:08.196492+00:00",
			"uuid" : "6a506c5c-e826-4ccd-913e-ece6dda560d9",
			"config" : {
				"tokens" : ["f4cF8AdObQw:APA91bGCyDiRFdRWINZKoTXOIjD0Uu_1ZThF15wVW5X8Uguu-YwqH9Xyjhz4Zo4CCCsNMrXtpjoQ8llUH6-766sjNMXEMU1lH30zJORD19vDzhi5NV**************"],
				"not

[2016-10-18 12:50] ericb commented on #74
@asafco4 If you do not see any messages sent, but everything was successful, that means no valid tokens were found, so we did not attempt to create any messages. We're working on being able to show this in the overview section.

If the token itself is actually valid and it's an issue with the profile you're using to send it, you can see an actual error code by re-validating the token (using [this]

[2016-10-18 13:15] omhybrid opened #75 "ionic 1 project ios package build succsess fully but it small size before updated cli and in app navigation of all button not working"
My Config

Cordova CLI: 6.3.1
Ionic Framework Version: 1.2.4
Ionic CLI Version: 2.1.0
Ionic App Lib Version: 2.0.0-beta.20
OS: Windows 7
Node Version: v4.5.0

before updated ipa file create around  6.0 mb but after updated ionic cli its create 4.0 mb and app is open but not working navigation of button

android build is working good.

[2016-10-18 13:38] Fuiste commented on #74
@asafco4 what @ericb said is correct, however I'd add that you _can_ currently see the number of invalid tokens for a given notification using the `overview` field in the API ([docs](http://docs.ionic.io/api/endpoints/push.html#get-notifications)), or from the dashboard once the notification has been sent.

[2016-10-18 13:46] asafco4 commented on #74
Thanks guys, I'll tests those suggestions and update.

[2016-10-18 14:38] ericb commented on #75
What is your app id? Is there a specific build # we should attempt to look at? Are you able to build it locally without issue?

[2016-10-18 18:04] asafco4 commented on #74
@ericb , @Fuiste ,, I have some findings:
My problem is with the token, from some reason it's now invalidated.
I was sure that when I create Ionic.push object and call push.register then I get a new token or at least that the current one will be extended, but in reality I keep getting the same invalidated token.
is that wrong assumption?

This is the login code:
if (ionic.Platform.isAndroid() || i

[2016-10-18 18:21] Fuiste commented on #74
@asafco4 couple things.

- `.unregister()` will mark a token as invalid, which is likely the source of your issues.
- If you wish to continue using `unregister`, you can update the validity of tokens using [this](http://docs.ionic.io/api/endpoints/push.html#patch-tokens-token_id) endpoint.

[2016-10-18 18:30] asafco4 commented on #74
@Fuiste , thanks for your quick reply.

1. Assuming I keep using the unregister, the register should not get me new token?
2. Can I just remove the unregister and it's not gonna cause issues?
3. If I don't invalidate it, how long that token will remain valid?

[2016-10-18 18:33] Fuiste commented on #74
1. Tokens are generated on a per-device, per-app basis, and will rarely id ever change
2. Yes, this should not cause issues, though the token will remain valid and able to receive pushes.  A better method would be to delete the token from the user when the logout.
3. Indefinitely, as far as I know.  I've got a testing app that still receives pushes on a 2 year old token.  That said, you _should_ b

[2016-10-18 18:35] asafco4 commented on #74
Thank you very much!!!

[2016-10-18 18:36] Fuiste commented on #74
Glad to help, cheers!

[2016-10-19 04:14] omhybrid commented on #75
app id: aae0c4e6

i use windows so locally android build is working good and apk size around 6.0 mb

[2016-10-19 04:31] omhybrid commented on #75
@ericb please help

[2016-10-19 12:39] ericb commented on #75
@omhybrid Are you using our Package service or building locally?

[2016-10-19 12:46] omhybrid commented on #75
Package service

[2016-10-19 13:34] omhybrid commented on #75
@ericb  have you any solution?

[2016-10-19 18:06] Alkasih opened #76 "Retrive notification by Email"
Hi, is there any way to retrieve notifications based on user email.

In the doc it is using notification_id

` /push/notifications/:notification_id`

Thank you

[2016-10-21 14:10] omhybrid opened #77 "ios package build ios failed when i updated ionic version"
my config

Cordova CLI: 6.3.1
Ionic Framework Version: 1.2.4
Ionic CLI Version: 2.1.1
Ionic App Lib Version: 2.1.1
OS: Windows 7
Node Version: v4.5.0

my project is in ionic 1

Write auxiliary files
write-file /Users/package/workspace/apps-aae0c4e6-31/cordova/platforms/ios/build/ventureplaces.build/Debug-iphoneos/ventureplaces.build/ventureplaces-project-headers.hmap
write-file /Users/package/work

[2016-10-24 23:58] CarlRyds opened #78 "Ionic Cloud Package for Windows"
Add Windows to Ionic Cloud Package to go along with Android and iOS packaging.

[2016-10-24 23:59] CarlRyds opened #79 "Ionic Cloud, Package, APK version code issue"
Hi,

I'm using Ionic Cloud to Package my App, I am changing the...

`android:versionCode=""` in AndroidManifest.xml

I have changed it to so many numbers but when uploading to Google Play,
it says this every single time...

`You need to use a different version code for your APK because you
already have one with version code 300008.`

Any idea why this is happening, the version is 3.0.0 is used in

[2016-10-25 00:17] CarlRyds commented on #79
FIXED:

Add `android-versionCode=""` to config.xml as it ignores AndroidManifest.xml

Source:
https://cordova.apache.org/docs/en/4.0.0/config_ref/index.html#additional-versioning

[2016-10-25 01:07] cvssandhu opened #80 "Ionic 2 Ionic Deploy Setup"
Hi There ,
i have setup my ionic 2 application with latest node and npm and now i am trying to use ionic deploy functionality but every time i am uploading app it generating new snap shot app id into website dashboard.

then i am deploying to dev channel by selecting dev option from drop down.but its not updating my app content.
I have written below code in my app constructor .but its not working

[2016-10-25 12:21] #79 closed

[2016-10-25 12:23] ericb commented on #80
You need to set the deploy channel in order to pull updates from channels other than production. It looks like you had commented out `this.deploy.channel = 'dev';` -- You should have that at the start of your application, before any other deploy code runs.

[2016-10-26 13:01] bgizdov opened #81 "Request password reset not working in v0.14.0"
Hi,

After upgrade to v0.14.0 request password reset stopped working.

$ionicAuth.requestPasswordReset(email);

Chrome error error

[code]

iPhone error log

[code]

[2016-10-26 13:47] sagivf commented on #69
@Fuiste Any update on this?

[2016-10-30 14:37] sagivf opened #82 "Cordovoe native google login doesn't work with push plugin"
Same as

https://github.com/phonegap/phonegap-plugin-push/issues/1325

Any quick fix?

[2016-10-30 15:34] sagivf opened #83 "Deploy reload doesn't seem to work - IOS"
http://docs.ionic.io/services/deploy/#reload-the-app

[code]

My code:

[code]

[2016-10-31 17:02] fetimo opened #84 "OnFirstUserGestureObserved with Crosswalk"
This may be a Crosswalk issue rather than Ionic Cloud itself but affects Ionic.

I've created a project with the following plugins installed:

[code]

When clicking a button in the app that opens the in-app browser (e.g. a button attached executing `$ionicFacebookAuth.login();`) the following error is shown in the Android Studio console:

10-31 16:56:28.762 10855-10855/com.ionicframework.myapp3333

[2016-10-31 22:43] edencorbin commented on #81
I'm also getting this trying to use a code with $ionicAuth.confirmPasswordReset(code, newpass);

`ionic.bundle.js:26794 TypeError: Cannot read property 'get' of undefined
    at e.confirmPasswordReset (ionic.cloud.min.js:6)
    at Scope.$scope.enterCode (controllers.js:509)
    at fn (eval at compile (ionic.bundle.js:27638), <anonymous>:4:429)
    at expensiveCheckFn (ionic.bundle.js:28651)
    at

[2016-11-01 10:23] ascotford opened #85 "ionic package - target-device being ignored"
Reading the cordova docs I should be able to use the following in the config.xml:

<preference name="target-device" value="tablet"/>

The same code works fine using phonegap build but would prefer to use your tools

[2016-11-02 09:15] fquirogam commented on #77
Did you fix this?

[2016-11-03 04:35] omhybrid commented on #77
no please help

[2016-11-03 07:28] sagivf commented on #82
:worried:

[2016-11-03 07:28] sagivf commented on #69
:worried:

[2016-11-03 07:28] sagivf commented on #83
:worried:

[2016-11-03 08:32] durasj commented on #83
Hi @sagivf,

Can you please confirm that on .load method call cordova.js is not found? I have such problem with everything up-to-date and the App needs to be completely reloaded on the native level (which AFAIK can't be done in the code), location.reload won't work.

Thanks

[2016-11-03 18:13] ycuevas21 opened #86 "Password Reset No Longer works"
Problem: requestPasswordReset method does not
I believe it has to do with local storage. I get this error
![screen shot 2016-11-03 at 10 56 48 am](https://cloud.githubusercontent.com/assets/13423770/19979039/342c2382-a1b6-11e6-9813-90717b1295e8.png)
I believe it is coming from the set method in requestPasswordReset.
![screen shot 2016-11-03 at 11 12 40 am](https://cloud.githubusercontent.com/asset

[2016-11-04 14:08] cfjedimaster opened #87 "Small doc tweak"
On this page, http://docs.ionic.io/services/auth/custom-auth.html, under "Summary", consider changing:

That thing your IT guy setup…

to:

That thing your IT person setup…

[2016-11-06 16:57] sagivf commented on #83
@durasj sorry for the delayed response.
.load is `typeof function` so that's ok.

Not sure what's going on. It either doesn't reload. Or reloads without the new version.
Currently the app user needs to restart the app.

[2016-11-06 17:44] durasj commented on #83
@sagivf it was probably not clear enough what I was trying to say, sorry.

I meant that after the .load function is called, error message "cordova.js is not found" appears in my case. After any number of reloads via web api, the new version won't be loaded. I wanted to know whether it's same for you so it could potentially help guys on Ionic team.

[2016-11-07 09:10] sagivf commented on #83
@durasj no problem 👍
I'm not getting that error. Not sure I understand what you mean by `reload via web api` do any other Ionic cloud services work for you? Are you able to use `this.deploy.check()` for instance?

[2016-11-07 09:18] durasj commented on #83
@sagivf sorry for not being more clear. I was talking about traditional Web API [Location.reload()](https://developer.mozilla.org/en-US/docs/Web/API/Location/reload) which I also tried after using Deploy.load(). Other services are fully working for me.

[2016-11-07 09:22] sagivf commented on #83
Cool, got ya. I'll try to check again but I don't think I'm getting that error though we seem to be having the same issue. Ionic Team?

[2016-11-07 16:10] sagivf commented on #82
OK, I got this working, but theres a whole load of cocpods stuff that needs to be run. better add it to the docs.

Besides that it seems to fail sometimes. Can't really put my finger on it. might be in the non native implementation as well. I will try to point it down and open a task.

[2016-11-07 16:13] dwieeb commented on #82
We'll keep this issue around, because the cocoapods Cordova update is something we need to mention in our docs.

[2016-11-07 16:26] dwieeb commented on #83
@sagivf Does `checkUpdateStatus` actually change to `"Update Failed"`?

[2016-11-08 03:23] barbsicle opened #88 "Package: Android builds failing with Push Plugin"
Since the update to the new app-scripts@0.0.39, I have had problems building for Android with either `ionic package build android --profile dev` or `ionic package build android --profile prod --release`:

[code]

My `config.xml` plugins are below:
[code]

The community has [confimed](https://forum.ionicframework.com/t/ionic-package-android-builds-failing/68874/10?u=shinglesmingles) that the issue

[2016-11-08 09:02] sagivf commented on #83
@dwieeb No, It just doesn't do anything. I think it might have reloaded once, but the update didn't apply. Just to be clear - manually restarting the app by the user gets the update applied.

[2016-11-09 18:13] durasj commented on #83
@dwieeb same here, it looks like the update succeeded, but I also have the cordova.js not found right after calling .load() or manually using Location.reload().

[2016-11-09 22:24] frederickjansen opened #89 "device:ready does not trigger in Chrome Inspect emulated device mode"
When running an Ionic app in the browser, [registerEventHandlers()](https://github.com/driftyco/ionic-cloud/blob/master/src/device.ts#L71) will emit the ```device:ready``` event because the device type is unknown. But when you run the same code while Chrome Inspect is open, and the emulated device mode is enabled (previewing what the application will look like on a mobile device), the device type

[2016-11-10 14:51] florentsuc opened #90 "Debugging a bad APN certificate"
I spent quite some time debugging a bad APN certificate. It's totally an error from my side, but I think the `/push/notifications` endpoint should show a different state & status. Or I'm missing something.

Steps to reproduce:

- Upload an APN certificate to Ionic.io
- Revoke it from the apple developer console.
- Run the app on your iOS device. You should be able to register & get a token.
- Try

[2016-11-11 00:33] bgizdov opened #91 "Basic Auth and Facebook Auth with same email creates two separate users"
Hi,

I have an app with basic and facebook login.
The two types of authentication creates two separate users for a user with the same email address.

Steps:
1. Login first with facebook, the user is added in Ionic Auth List.
2. Logout
3. Register new user with basic auth and the same email from the first account. Then the user is registered and added in Ionic Auth List.

Both users have the same e

[2016-11-11 10:47] johnsw opened #92 "Bulk notifications are not sent"
We are facing some problems sending push notifications. Here is the background: everything was working just fine and since 30/10/2016 (approx.) bulk notifications are not being sent. Sending to 2-3 tokens is just fine. We are using the free service and we are trying to send bulk notifications (approx. 8000 tokens per post, currently the curl() response is blank, no error, no timeouts, just a blank

[2016-11-11 11:47] pimrie opened #93 "Deployment Target ignored when building IPA"
Hi there,

When building a new iOS build we have the following set in config.xml:
`<preference name="deployment-target" value="9.0"/>`

This setting appears to be ignored as package states it supports iOS version 8.0 and above.

Thanks

Peter

[2016-11-14 14:49] andkojanci commented on #83
Hello guys,

I've exactly same issue. We need to release the application to production but our updating mechanism still cannot reload the application.

Ionic team, please help!

[2016-11-14 15:51] bgizdov commented on #86
Yes I have the same issue, still no solution or reply
https://github.com/driftyco/ionic-cloud/issues/81

[2016-11-14 16:12] dwieeb commented on #86
Happening in a file called `polyfills.js`?

[2016-11-15 14:01] kjhnns opened #94 "Ionic Cloud fails to init the Push Plugin"
Hi, i just recently have trouble with my phonegap-push-plugin, it won't init anymore. I dont think that it relates to the issue, but the problem appeared ever since I installed the deploy-plugin, although the deploy-plugin works.

The error that appears during initialization is the following:
[code]
the line it is referring to in the `ionic.cloud.min.js` is the following:
[code]

I ended up trying

[2016-11-15 14:37] sagivf opened #95 "Apple unclear Push entitlement warning"
I don't understand what exactly what they mean, but thought It might be something on the Ionic side. Push notification work, but wondering what this is.

![image](https://cloud.githubusercontent.com/assets/1857466/20309740/cfe942ec-ab51-11e6-8003-c3fd10dae29f.png)

[2016-11-15 21:49] daveywc commented on #78
+1

[2016-11-16 08:52] doncadavona commented on #33
Since iOS 10, Apple discourages users and developers from non 64 bit apps. Statin something like: "This app may slow down your iPhone. Blah Blah".

64 bit apps a way better than 32bit apps. But there are compromises this time. But this is a transition we can't just ignore. Heres a short brief I found about it:

https://9to5mac.com/2015/06/10/ios-9-older-devices-lose-support-apps/

[2016-11-18 12:27] kjhnns commented on #94
Hey I figured, out that removing the push plugin from the package.json solved the issue

[2016-11-18 12:27] #94 closed

[2016-11-18 13:02] ramoncarreras commented on #86
Same problem here.

[2016-11-18 18:04] jbelelieu opened #96 "UNKNOWN error message"
App ID: 266f38f2

Up until a couple days ago, everything was working fine with sms messages coming through. However recently I started receiving a "UNKNOWN" error, with little to no additional information available for troubleshooting.

I've registered two devices for our test app:

[code]
However when I send a message, nothing comes through and everything is listed as "locked" / "enqueued". Examp

[2016-11-19 02:43] jrmcdona opened #97 "Unknown provider: $ionicFacebookAuthProvider <- $ionicFacebookAuth"
Hi All, here is a gist with sample code and issue description.
https://gist.github.com/jrmcdona/a1cd972839594b5fefa8ffa4ac134ba0

To summarize, I walked through the docs and simply cannot get $ionicFacebookAuth to work right.  I am including ionic-cloud in my module.  I don't feel I have missed a step but something is not right.  Any ideas?

[code]

[2016-11-19 03:15] #97 closed

[2016-11-19 22:35] sagivf opened #98 "Ionic.io Dashboard Auth - only shows one page of users"

[2016-11-20 02:12] wbhob commented on #81
I confirm that I am receiving this same error with Ionic 2 and Cloud 0.14.0.

[2016-11-20 17:26] RandyLedbetter commented on #86
I, too, am experiencing the same error as originally reported by **ycuevas21** 17 days ago. In my case, the error is happening when making the request from a local dev machine in a desktop browser. I do not have the stack traces for the failure in the Android emulator, but Auth.requestPasswordReset(email:string) is not functioning there either.

There is very limited documentation on how to best i

[2016-11-21 10:15] Henryisthebest commented on #57
any news on this? i'm getting the same error.

[2016-11-21 10:15] Henryisthebest commented on #57
also where did you get your list of corodvaPlugins, cordovaPlatforms, dependencies from?

[2016-11-21 11:43] bgizdov commented on #81
It also happens on Ionic 1 with Cloud v0.14.0.
The problem should be in ionic-cloud v0.14.0, I used previous version before and password reset worked without problem.

[2016-11-21 12:23] omhybrid opened #99 "push.on('registration', callback) not firing iOS"
use ionic package service for ios build

push.on('registration', callback) not firing iOS

push.on('error', function(data) { }); ==> error responce " no valid aps environment entitlement string found for application"

var pushNot = PushNotification.init( {android: {senderID: "462756420685",sound:true},ios: {
alert: true,
badge: true,
sound: true
}});

		pushNot.on('registration', function(data) {

[2016-11-21 18:34] jbelelieu commented on #96
Anyone?

[2016-11-21 21:16] Lestt opened #100 "ionicPush - GCM Sender ID (null) on iOs"
Hi all,

I'm using ionicCloud to receive push notification on phone. Everything is ok on android, but i can't make it works on iOs. This is my conf in my app.js:

[code]
As i said, no problem on android, but i can't receive any message on iOs. In the xcode console, i got this error:
[code]
I'm using ionic-cloud **v0.13.0**
I don't think it's an error relative to phonegap-push-plugin, but i am not

[2016-11-21 21:44] wbhob commented on #81
Roll back @bgizdov ?

[2016-11-22 09:15] sagivf commented on #98
@dwieeb @ericb what's going on? I'm sorry, but It's getting harder and harder to rely on this system when issues are being addressed...

[2016-11-22 13:01] ericb commented on #98
Hey @sagivf, sorry for the delay here, I don't think it sent out a notification until you pinged us by name. We'll get this fixed up today.

[2016-11-22 13:08] sagivf commented on #98
thank you @ericb. Also there is this one https://github.com/driftyco/ionic-cloud/issues/83#issuecomment-260354112 which seems to be of interest to a few. It's ok if some things take there time, but please try to let us know what is the status on issues that are crucial. Thanks again on advance.

[2016-11-22 13:20] ericb commented on #98
Definitely. Thank you! I'll have that deploy issue looked into as well.

[2016-11-22 14:20] ericb commented on #98
@sagivf This should be all fixed up now. Let me know if you're still only seeing a single page. 👍

[2016-11-22 14:20] #98 closed

[2016-11-22 14:31] ericb commented on #96
@jbelelieu Do you receive this on all notifications, just ios, only from dashboard, etc? Your notifications look correctly composed so I don't think that's an issue. I'll see what we have on record for those messages.

[2016-11-22 14:50] ericb commented on #96
@jbelelieu Everything I'm seeing on our end lines up with what you've mentioned. I see that we are having tls errors. Did you recently update your certificate?

[2016-11-22 14:55] ericb commented on #100
Have you checked the status of your messages for ios? This likely isn't a client side issue.

[2016-11-22 14:56] ericb commented on #86
Duplicate of #81, please follow progress there.

[2016-11-22 14:56] #86 closed

[2016-11-22 14:58] ericb commented on #92
@johnsw Is this still an issue? If so, please post the app_id so I can check in on the notifications on our end.

[2016-11-22 15:03] Fuiste commented on #95
Hey @sagivf, this is related to a change Apple made in versions of Xcode 8 and higher.  You now need to manually activate or deactivate the push notification entitlement once you've added your provisioning profile.

We've updated the docs to reflect this [here](http://docs.ionic.io/services/profiles/#ios-push-certificate), simply find the section marked **Note for users of Xcode 8 and higher**.

[2016-11-22 15:03] #95 closed

[2016-11-22 15:04] ericb commented on #87
Updated 👍

[2016-11-22 15:04] #87 closed

[2016-11-22 15:07] ericb commented on #90
@florentsuc Because the notification can hold more than just APNS messages, the errors are tied directly to the messages that are attempting to send. We mention in the [docs](http://docs.ionic.io/services/push/#checking-notification-status) that you can look at the message status, but if you use the dashboard, you should be able to see a notification status breakdown that will update as messages a

[2016-11-22 15:07] #90 closed

[2016-11-22 15:15] sagivf commented on #95
Thanks @Fuiste. I actually do have that enabled...
One odd thing I do see it that I've got a file called 'mobile.entitelment' (mobile is the project name) and it has a value of development.

I thought I'd change it but I'm afraid things will stop working.
xxxx hate apple!!! why, why do they have to make everything so complicated for developers.

![image](https://cloud.githubusercontent.com/assets/

[2016-11-22 15:17] ericb commented on #91
@bgizdov This is intended behavior for the time being. Different social providers have different levels of validation and user data, and there is no way for us to directly validate that a user on a social network is the same as someone who registered with an email/password. There is also the issue of dealing with email changes across multiple systems, and not having the ability to control what cha

[2016-11-22 15:22] ericb commented on #89
Unfortunately chrome does not give any specific criteria to let us know that it its running in emulation mode. I'm wondering if we can attempt to check other window fields that might clue us in that it is not actually a native device.

[2016-11-22 15:28] ericb commented on #85
I think you may have meant to paste a config.xml snippet.

[2016-11-22 15:28] #85 closed

[2016-11-22 15:29] ericb commented on #84
Is this with native facebook login?

[2016-11-22 15:31] ericb commented on #88
Looks like we may have an outdated version of the play services library. @dwieeb can we check in on this?

[2016-11-22 15:35] Fuiste commented on #99
This is likely an issue with the provisioning profile used to sign the application, and I'd first ensure that you've correctly authorized the app for APNS.

If the problem persists after regenerating your provisioning profile, I'd check with @dwieeb for more infor on the Package side of things.

[2016-11-22 16:35] Lestt commented on #100
First, thanks for your replies :)

@ericb I am not enable to receive any message on my phone, that's why i am asking here if there is a bug or not ? Message are correctly sent by my server to ionic cloud, but iOs phone receive nothing (no problem on Android with the same code)

@Fuiste so you mean those both sections are used only for payload, so what is the purpose of the  [payload](https://docs.

[2016-11-22 16:40] Fuiste commented on #100
Sorry, I misread your original post and this my response was probably confusing.

What I meant was that, since Ionic Push does not explicitly support GCM for iOS, you are likely to find issues like this when attempting to use it.

THe best course of action would be to set up your app to use APNS ([docs](http://docs.ionic.io/services/profiles/#ios-push-certificate))

[2016-11-22 16:55] Lestt commented on #100
To use GCM for iOs you don't have to configure your app to use APNS too (sry for this newbie question)?

I have already setted up my app to use APNS (generated cert, linked to my ionic security profile), and it still doesn't work.I am unable to find if it's an issue from ionicPush, phonegap-plugin-push, or my configurations !?
First i had this error message in xcode console, i found a way out by p

[2016-11-22 17:16] Fuiste commented on #100
If you're all set up with APNS, you should be able to check the status of individual pushes through the API ([docs](http://docs.ionic.io/api/endpoints/push.html#get-notifications-notification_id-messages)).

Sender ID may be null for iOS, but since this isn't using GCM this is no issue.

[2016-11-22 17:59] jbelelieu commented on #96
I added and removed a product certificate but don't think I changed the dev one. I can try re-uploading everything in a moment to see if that helps.

[2016-11-22 18:06] Lestt commented on #100
Ok ! Thanks for the quick reply and sorry for having pointing a non issue...

[2016-11-22 18:58] #81 closed

[2016-11-22 19:01] dwieeb commented on #81
@bgizdov @edencorbin @wbhob Sorry for the delay here. We missed something after adding a localstorage utility to the password reset utility. Thanks for the report, this has been fixed and we'll make a release soon!

[2016-11-22 19:07] dwieeb commented on #81
0.14.1 is out! Please update.

[2016-11-22 19:10] wbhob commented on #81
Can merge with DB branch?

On Tue, Nov 22, 2016 at 2:07 PM, Daniel Imhoff <notifications@github.com>
wrote:

--
Wilson Hobbs
Programmer Guy at Beakr <https://www.beakr.co>
"*clackity clack*" - me
(404) 719-3252
wilsonhobbs1@gmail.com
wilsonhobbs.com

[2016-11-22 20:11] dwieeb commented on #81
https://github.com/driftyco/ionic-cloud/commit/de2212388c0f45f65f31ed56641774a54a7c390f 🎉

[2016-11-22 20:13] wbhob commented on #81
:)

On Tue, Nov 22, 2016 at 3:11 PM, Daniel Imhoff <notifications@github.com>
wrote:

--
Wilson Hobbs
Programmer Guy at Beakr <https://www.beakr.co>
"*clackity clack*" - me
(404) 719-3252
wilsonhobbs1@gmail.com
wilsonhobbs.com

[2016-11-22 20:16] wbhob commented on #81
@dwieeb should I use the DB branch if I'm not using DB yet, but planning on it as soon as invites go out?

[2016-11-22 21:28] fetimo commented on #84
@ericb it is, yes.

[2016-11-22 23:16] dwieeb commented on #96
@jbelelieu Please also try re-uploading in a new dev security profile.

[2016-11-23 00:42] frederickjansen commented on #89
Would ```navigator.platform``` help?

[2016-11-23 04:09] zapbuild opened #101 "IOS App stops working"
Hi
My IOS mobile app for iPad has stopped working. It was working fine before but since when the IOS certificates(for push notifications) expired, it stopped working. Though, I renewed IOS certificates and apple stated that now everything should be working fine. The app is using ionic push notifications. Please let me know how you could help me in this.

I noticed that there are some changes in th

[2016-11-23 09:32] ascotford commented on #85
Sorry:

<preference name="target-device" value="tablet"/>

[2016-11-23 09:32] ascotford commented on #85
`<preference name="target-device" value="tablet"/>`

[2016-11-24 13:20] bgizdov commented on #91
Hi @ericb

The main issue with this was that our users have paid membership and it is attached to one of the accounts. When login later they may think that logged in with the same account and see their membership disappeared, but it is because they logged in with another account.

For now I use this workaround, when the user register first with email or facebook, I save this in a DB. When the user

[2016-11-24 15:51] AgDude opened #102 "Ionic deploy not working in android debug build"
I tried to set up deploy, following the docs. I have installed  a debug apk on my android device. the $ionicDeploy service does not seem to send any requests. I have tried various methods: "check", "getSnapshots" all resolve without every sending an http request. The "download" method causes the app to quit with a message like "unfortunately MyApp has stopped working". I have also used ionic state

[2016-11-24 16:59] AgDude commented on #102
So here are some more details. This is from the console of a chrome remote inspect with the app installed on an actual device. Note that callback `logCB` simply takes the first arguments and logs it to the console.

[code]

Now if I send the request directly It works (args found by reading java source):
[code]
Looking at the result:
[code]

[2016-11-25 01:12] Lestt opened #103 "Ionic Push - Icon notification different than icon app / Plugin configuration"
Hi all,

I would like to know if it's possible to have an app icon different than the notification icon.
I followed this [link](https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/INSTALLATION.md#additional-resources), created a hook which copy my file(_notif.png_) into the android platform folder.
Everything will be copied into the **res/mipmap-*** folders. In these folders, there a

[2016-11-25 02:16] Lestt commented on #103
Well it seems it is a **phonegap-plugin-push** issue according to this [post](https://github.com/phonegap/phonegap-plugin-push/issues/1314). The plugin doesn't use the mipmap folders with **cordova-android@6.0.0**, so i have to downgrade to **cordova-android@5.2.2** and it's ok.

[2016-11-25 13:45] AgDude commented on #102
It turns out my config had a typo in it it. I had "api_id" instead of "app_id". Clearly this was a careless mistake on my part, but it was a major time sync. So make this ticket a request for better error reporting.

In this case I ended up adding extra logging at the Java level and discovered that the app_id was null. A simple warning for a missing app ID would have saved me quite a few hours.

[2016-11-25 14:32] AgDude opened #104 "Document snapshot update metadata"
In the absence of a fix for driftyco/ionic-cli#660 I was ready to use the RESTful api, to implement this. There is no documented way to do this (http://docs.ionic.io/api/endpoints/deploy.html#patch-snapshots-snapshot_id), but from looking at the web interface it appears it can be done like the following.

[code]

note that I have not verified that I am allowed to use this option through the api.

[2016-11-27 13:02] christianseel opened #105 "500: Internal Server Error with native Facebook Auth"
Hi, I'm getting a `500: Internal Server Error` from `https://api.ionic.io/auth/login/facebook` when requesting any other permission than "email".

Request header:
[code]
results in:
[code]

while
[code]
works:
[code]

I used the facebook auth token debugger to very that the fb auth token has the `user_friends` permission applied.

System information:
[code]

[2016-11-27 13:13] christianseel commented on #105
Moved issue to https://github.com/driftyco/ionic-cloud-issues/issues/234

[2016-11-27 13:13] #105 closed

[2016-11-28 17:24] dwieeb commented on #81
@wbhob DB branch is just master (sometimes slightly outdated) + DB integration. It should be pretty much the same thing.

[2016-11-30 06:29] comfortme opened #106 "push plugin is not included in ionic package ios build"
hello,
when building for ios with ionic package
push plugin is not included in the output *.ipa

i got
[code]
in package.json

and
[code]
in config.xml.

i got many plugins installed with package in this app except push.

when i do,
cordova plugin add phonegap-plugin-push --variable SENDER_ID=12341234 --save
plugin is not saved in package.json it is just saved in config.xml.  i added package.json

[2016-11-30 12:17] istMagic opened #107 "Build keeps failing"
Hi ,

When I want to build an app in Ionic Cloud, I keep getting a build that is failed.
The output that I get  is "Error: Unpublished by drifty" with a date that is more then a year.
I tried creating a new app and with a different platform and still getting the same error.

Thanks!

[2016-11-30 19:49] amymarsh4work opened #108 "Ionic Serve Fails After Adding Ionic Cloud Angular"
Hi,
I'm having problems getting the cloud client installed and the project to serve properly. I'm getting an error in the Chrome console that states: "Uncaught TypeError: angular.element is not a function(...)" and a white screen.

This is a problem when running 'ionic serve'. Running 'ionic emulate ios' works. It's really inconvenient because it's so fast to do much of the development in the brow

[2016-11-30 20:35] amymarsh4work commented on #108
FYI: I just tried deleting my node_modules directory and doing an npm install. I still have the same problem. :(

[2016-12-01 14:58] riaz61 opened #109 "Ionic Push Service Issue"
When I upload my certificates to ionic cloud dashboard theres a popup saying that the service is unavalble ans theres a error on the server side so I can't add my certificates and my push notifications can't be delivered. My notifications were working last week but now they are not working. I havant changed anything but the ionic dashboard with my certificates seems so be malfunctioning. Please he

[2016-12-01 15:05] amymarsh4work commented on #108
Update: Did an install on a different machine and the starter site serve worked with the Cloud module installed and configured. It must be something with my environment. The only thing I can think of that's a recent change is that I installed Typings globally for Leaflet.

If you have no suggestions that come to mind, this issue can be closed.

[2016-12-01 23:32] johnellmore opened #110 "Ionic Deploy fails to extract snapshot on Android"
When running my app on Android, I'm getting an error when trying to load in a new snapshot from Ionic Deploy.

As shown by logcat in Android Studio:

[code]

This error seems to be originating from this line in the Ionic Cloud client:
https://github.com/driftyco/ionic-cloud/blob/master/src/deploy/deploy.ts#L155

Here's how I'm invoking the deploy process:

[code]

On iOS, the Ionic Deploy works fl

[2016-12-02 13:18] rodriguesrl commented on #78
+1

[2016-12-02 16:45] dwieeb commented on #108
The only way I could think of this happening is if `angular` is defined on `window` but it is not angular 1.

I realize this is an Angular 2 project, but somehow it got past this if statement: https://github.com/driftyco/ionic-cloud/blob/master/src/angular.ts#L11-L13

[2016-12-02 16:45] #108 closed

[2016-12-02 16:52] dwieeb commented on #107
You likely are using the old `com.ionic.keyboard` plugin in your app. Please update it to the latest version of `ionic-plugin-keyboard` (https://github.com/driftyco/ionic-plugin-keyboard) and delete any references in `package.json` to the old plugin.

[2016-12-02 16:52] #107 closed

[2016-12-02 16:53] dwieeb commented on #88
@barbsicle Is this still an issue?

[2016-12-02 17:00] barbsicle commented on #88
@dwieeb No longer. Builds seem fine for now. Thanks for the fix!

[2016-12-02 17:03] ericb commented on #96
closing due to inactivity -- Please comment if the issue still persists @jbelelieu

[2016-12-02 17:03] #96 closed

[2016-12-02 17:04] dwieeb commented on #84
Odd, native Facebook login doesn't open an InAppBrowser. Here's [`$ionicFacebookAuth.login()`](https://github.com/driftyco/ionic-cloud/blob/cf6d03e28d81a3c4c7c3c001f2d874e1707afdc1/src/auth.ts#L741).

@devnetics Thoughts?

[2016-12-02 17:12] dwieeb commented on #106
@comfortme Did you try a build with just the `config.xml` entry, and not the `package.json` entry? We are recommending people don't use `package.json` to store their cordova platforms/plugins.

[2016-12-02 17:14] ericb commented on #101
You need to follow the [migration guide](http://docs.ionic.io/migration.html) to update your app from the old alpha services which have been deprecated for quite some time now.

[2016-12-02 17:14] #101 closed

[2016-12-02 17:16] ericb commented on #89
It's worth looking into for sure, though I'm not entirely sure if the results will be consistent enough between different browser versions/platforms to be relied upon.

[2016-12-02 17:17] comfortme commented on #106
@dwieeb Yes i tried with just the config.xml with no success but yesterday i tried with just the package.json
and succeeded. very confusing.

[2016-12-02 19:12] kornalexandr2 commented on #77
сдохни или используй спойлеры

[2016-12-02 19:47] ericb commented on #104
This was intended to be documented but we had a typo on our end that prevented the field lookup. I fixed that up so it's now showing correctly. Thanks @AgDude!

[2016-12-02 19:47] #104 closed

[2016-12-02 19:59] ericb commented on #103
Thanks for the update @Lestt -- I'm closing this out but linking to phonegap/phonegap-plugin-push#1314 for future reference. 👍

[2016-12-02 19:59] #103 closed

[2016-12-02 20:01] ericb commented on #109
What's your app id?

[2016-12-02 20:13] #88 closed

[2016-12-02 20:20] ericb commented on #110
@johnellmore The fact that it's working on iOS but not Android makes me think that this is actually an outdated dependency being used when you run the build for Android. Are you able to provide a test project we can build and run?

[2016-12-02 21:07] johnellmore commented on #110
Unfortunately, I can't provide the project, as it's a private project for a client. I can possibly provide certain files, though; are there specific files that you'd like to see? My employer is okay granting outside access to the codebase, but would require some legal paperwork first. So I'd love to avoid that complexity if possible :)

Or if that's too tedious, do you have any suggestions for whe

[2016-12-05 15:22] ericb commented on #110
@johnellmore One thing you could do is to print out the version of the cloud client from within your app code. If it's running an out of date version that would show an older version instead of your latest version you may or may not have installed. Here is a reference to the [code](https://github.com/driftyco/ionic-cloud/blob/master/src/core.ts#L55) but I'm blanking on the usage off the top of my

[2016-12-05 15:45] dwieeb commented on #110
[code]

[2016-12-06 14:03] sagivf commented on #19
closing this so to remove noise

[2016-12-06 14:03] #19 closed

[2016-12-06 14:06] sagivf commented on #69
:worried:

[2016-12-06 14:07] sagivf commented on #83
:worried:

[2016-12-06 20:02] devnetics commented on #19
@sagivf I've added a few tasks in our backlog related to docs cleanup and better error handling (for this and other auth flows), feel free to ping me on Ionic Worldwide with any other feedback.

[2016-12-07 09:51] pimrie commented on #93
Any news?

[2016-12-07 15:02] ericb commented on #93
@dwieeb can we verify this?

[2016-12-07 22:59] Fuiste commented on #83
Hey everyone.  I've tried unsuccessfully to reproduce this issue locally on an iPhone, and the service appears to be running as intended on my end.

When looking at the native xcode logs, are there any errors or anything unusual jumping out at you?

[2016-12-07 23:12] Fuiste commented on #69
@sagivf I'm looking into this, but I can't say for certain what's causing it at the moment.  My guess is that there's some way the push schema isn't getting correctly sent through our API

[2016-12-08 08:15] sagivf opened #111 "Apple rejecting update feature"
Don't know if this is a change in there policy or i'm miss presenting/using the feature, but apple has done it again - making life hard for developers and users.

Any advice?

![image](https://cloud.githubusercontent.com/assets/1857466/21002524/fc15ae7a-bd2e-11e6-89cd-dbe776294609.png)

[2016-12-08 10:37] sagivf commented on #69
@Fuiste I'll try to check it out, but I'm not sure it's relevant if there is no solution for this - https://github.com/driftyco/ionic-cloud/issues/111

[2016-12-08 11:17] sagivf commented on #83
@Fuiste I'll try to check it out, but I'm not sure it's relevant if there is no solution for this - #111

[2016-12-08 13:16] ericb commented on #111
Hey @sagivf I've heard of this in one other instance. I'm not sure if this is something randomly decided during review, or if it's a bot looking for a button with the phrase 'Update App' or something along those lines, etc.

In the previous case our suggestion was to change how the updates are checked and (maybe behind the scenes) and then prompt the user letting them know an update is available (

[2016-12-08 13:18] ericb commented on #69
@sagivf Can you give an example request you send for a notification that this fails on.

[2016-12-08 13:36] sagivf commented on #111
Thanks @ericb yee, thats what I think I'll do.
I was going to make the update an in app pop up anyway.

I just don't get this company(apple), nowadays - government had less stupidity and bureaucracy then them...

[2016-12-08 13:36] #111 closed

[2016-12-08 17:34] dwieeb commented on #106
@comfortme I think I found out why and will add a task to fix this in our backlog. Thank you!

[2016-12-08 17:34] #106 closed

[2016-12-08 17:38] dwieeb commented on #93
@pimrie Seems that `deployment-target` and `target-device` were being ignored and it has been fixed in cordova-ios 4.3.1: https://cordova.apache.org/announcements/2016/12/02/ios-release.html

Please try your build with cordova-ios 4.3.1. If you encounter other strange build errors, try 4.1.0. You can set the platform version as documented here: http://docs.ionic.io/services/package/#platform-versi

[2016-12-08 20:41] ericb commented on #111
Let us know how it goes, especially if they still reject it, but my assumption is that it will go through just fine.

[2016-12-09 09:24] pimrie commented on #93
Thanks for the response, will try the new cordova-ios and see how it goes

[2016-12-12 01:01] theteedog commented on #61
Is there an ETA on when Ionic Cloud Auth will support social providers for PWA?  I'm currently handling auth myself but would prefer to use Ionic Cloud.

[2016-12-12 01:10] uncle-mo opened #112 "Unable to Distribute iOS app (.ipa) with Ionic-Deeplinks App plugin & Universal Links."
Using "ionic package build ios ..." the build is successful but trying to distribute the app by using "Application Loader". The error is as follows:

When I build the app locally it works. It should be noted that for the local build I've manually edited the application in xcode to enable and configure the "Associated Domains" since the ionic-deep-links app doesn't seem to do this automatically. (L

[2016-12-14 16:57] dwieeb commented on #112
Looks like we're waiting on this PR being remerged: https://github.com/driftyco/ionic-plugin-deeplinks/pull/21

[2016-12-14 16:57] #112 closed

[2016-12-15 05:10] pierznj opened #113 "Download fails if snapshot already present"
If I try to update after a rollback, I get "download failed: see native logs". This also occurs if I try to deploy a snapshot that has already been deployed before. Clearing all my local snapshots (except current) fixes it. Seems like the ideal thing would be to restore from the local cached copy if the currently deployed version is already stored locally (otherwise why have them at all?), but I c

[2016-12-16 17:37] tyvdh opened #114 "Seeing half a gazzilion errors seemingly out of nowhere."
Push was working great last Tuesday but the next day, Wednesday, I started receiving outrageous amounts of unknown errors.
![585009e6b6147a000061cc25](https://cloud.githubusercontent.com/assets/4383610/21272251/72433712-c38c-11e6-89e9-4c293839686c.png)

[2016-12-16 21:01] kgrashad commented on #106
@dwieeb Can you elaborate why as I am facing the same problem.

[2016-12-18 17:09] ddomonkos commented on #54
Hi guys,
so is there no way how to place the .plist file in the (platform's) project root folder? I would like to use the FCM plugin and I don't have a Mac either. I tried to solve it via a 'before_build' hook but it wasn't being fired (which is logical, after all).

[2016-12-19 15:55] ericb commented on #54
@ddomonkos Check out the [package-hooks](https://github.com/driftyco/ionic-package-hooks) repo. You can write your own hook and submit to the repo (as long as it's generic and generally safe we will likely bring it in). [This hook](https://github.com/driftyco/ionic-package-hooks/blob/master/ios9_allow_http.sh) is a likely a good starting point for what you want to do.

[2016-12-19 15:55] #54 closed

[2016-12-19 15:57] ericb commented on #114
Hi @tyvdh Are you still seeing these errors? Can you give us a notification id to look at?

[2016-12-19 15:59] ericb commented on #113
Hi @pierznj - It should be pulling from the local cached copy as you said, but maybe we've mixed up signals with the way the cloud client / deploy plugin work together now. We'll take a look, but can you provide a sample of how you're executing the check/update ?

[2016-12-19 18:41] kgrashad commented on #106
@comfortme  did you find a solution for this one? I had to give up on ionic package because of this one.

[2016-12-19 18:45] kgrashad opened #115 "phone-plugin-push is missing when building using ionic package"
When I build locally the plugin gets added as expected. When I build using ionic package, it is not there. This is currently blocking the use of ionic package for any app that needs the push plugin.

Config.xml
[code]

Package.json:
[code]

[2016-12-19 18:48] comfortme commented on #106
@kgrashad yes i did
delete plugin information from your config.xml and
add
[code]
to your package.json with rest of the cordovaPlugins.

[2016-12-19 19:11] AgDude opened #116 "Automatic promotion of snapshots"
This is a feature request for the ability to automatically promote from "beta" or "Staging" channels to production after some period of time (obviously with the ability to cancel the promotion before it occurs).

For as long I have used "early access" releases for my apps, I have always had a problem when a release goes smoothly. We don't remember to promote it to production. When you have fix 20

[2016-12-20 02:52] tyvdh commented on #114
@ericb

Here are a few:
- 189e5794-096c-4a91-b17e-5686f35f6c8a
- e740da03-2c60-4ecf-8b5a-8c6489bfe31f
- 10515591-541e-48b9-90e1-5bf093fea347

The notification id is: 960cb21c-55ad-48ce-85dd-0960437a1b36

Thanks!

[2016-12-20 02:58] tyvdh commented on #114
Just for kicks here are a few from a few days ago right before the errors started.

- 6bdbfeab-537b-4f3b-a96c-463d004bb0ac
-7ac80afe-1807-44f0-8ac7-e0f7c15058ab
- 91e1e7d2-89f4-49dc-a7a7-fb538e2a950d

[2016-12-20 04:07] pierznj commented on #113
So the code looks something like this at the moment (we manually delete all snapshots to make it work):
[code]
The above works, but if we remove that part that deletes the old snapshots, we get the error I described.

[2016-12-20 05:38] ngz82 commented on #115
Use phonegap-plugin-push 1.8.4 it works fine.

Not sure why.
I was going to post the below, but saw you beat me to it!

[2016-12-20 09:44] ddomonkos commented on #54
Thank you @ericb, that would have certainly worked. But in the meantime I managed to solve it with the help of this plugin https://github.com/stetro/cordova-plugin-fcm-config; I forked it and created my own private repo, where I put the .plist file. Your help is much appreciated though.

[2016-12-20 10:44] Lestt commented on #51
Hi all,

I'am using the lastest _ionic/cloud@0.14.1_, _phonegap-plugin-push@~1.8.4_ (because i am using _cordova-android@5.2.2_), _ionic@1.3.0_.

I can receive notification on Android (app in foreground or background), but still the same probleme as here, the **cloud:push:notification** event is not fired at all.
I put this code in my app.js, inside the $ionicPlatform.ready function (which is insi

[2016-12-20 19:35] ericb commented on #51
Is anyone able to provide a sample project we can try and replicate against?

[2016-12-20 19:35] ericb commented on #54
No problem, cheers 🍻

[2016-12-20 23:08] Fuiste commented on #114
Hey @tyvdh I've looked in the logs over some of the ID's you posted.

Looks like you're getting TLS errors when communicating with APNS, so that's a cert problem.  I don't know why a certificate would start failing like that, but you may need to regenerate/re-upload it.

In addition, we had a short outage of the push API this morning, which may have contributed to the problems but has since been a

[2016-12-21 13:45] ericb commented on #116
Hey @AgDude, I'll give this some more thought and post updates this or something like it comes into the system. Thanks!

[2016-12-21 15:46] Mokto opened #118 "Ionic package not working on V2"
#### Short description of the problem:
Ionic package build android (or ios) not working.

#### What behavior are you expecting?
Compiles my files to prod into www and package my app on ionic.io.

**Steps to reproduce:**
1. ionic start test --v2 && cd test && ionic io init
2. ionic package build android

**Post the output of `ionic info` below please**

Your system information:

[code]

**Other inf

[2016-12-21 16:28] genaro722 commented on #25
@yenteck try chance the VPN or upload by 3G network with you Smartphone.

[2016-12-21 17:24] Mokto commented on #118
I forgot to show the stacktrace :

[code]

Thanks !

[2016-12-22 23:39] lenhartjames opened #119 "Ionic Push Unable to Save"
This is what I see when I attempt to send a push notification. It worked fine last week when testing.

<img width="1154" alt="screenshot 2016-12-22 16 47 43" src="https://cloud.githubusercontent.com/assets/8549169/21443817/0334f164-c876-11e6-87fd-2c8281d13ed4.png">

[2016-12-22 23:50] lenhartjames commented on #119
I flushed the cache of my browser, and it stopped doing the above. Apologies. Have a great year ahead!

[2016-12-22 23:50] #119 closed

[2016-12-23 03:51] tynitin opened #120 "Not able to receive notification on IOS production but received successfully on ios development"
I have registered with Ionic cloud to use push notification services. Application that is registered has app id: 8a34049a
To test push notification I am running curl command
**curl -X POST -H "Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eykiOiI0MTM4YzEyMi0xNTU0LTRmYmItYWJhMy1lZjgwMmVlZmRlMTgifQ.eOx8xeYq4qJy2AxLRldWHSQnooHTQvDHPhUbZ6ZIABA" -H "Content-Type: application/json" -d '{"to

[2016-12-23 04:07] tynitin commented on #120
Please help me soon as this is the only thing i am left with in my app. Else its ready to be used by client. And its really getting harder to understand client day by day.

[2016-12-23 05:40] gbansal9 commented on #120
I am also facing the same issue and i am not able to send push notification on production, on dev its working perfectly fine. Please help me in resolving this issue.

[2016-12-23 07:10] ashishrawat044 commented on #120
Same thing is happened with Me. If someone Knows then Please Help me out.

[2016-12-23 07:32] shubhikhushi commented on #120
I am also facing the same issue. It worked fine on development but not able to send push notification on production environment. Please let me know the resolution as soon as possible.